[2017-12-19 16:27] pluma commented on #481
We're investigating a possible implementation of this, which may land in the upcoming 6.0.0 release.

[2017-12-19 16:40] pluma commented on #184
I can't seem to reproduce this error anymore. This probably means it has been fixed at some point. Can you try again with the development version or the alpha release for 6.0 (`npm install arangojs@6.0.0-alpha`)? Feel free to reopen this issue if the error still exists.

[2017-12-19 16:40] #184 closed

[2017-12-19 16:46] pluma commented on #449
This actually seems to result in an error in ArangoDB, not arangojs:
[code]
Throwing an actual Error object results in this instead:
[code]

If you think either of these two responses is unreasonable, you may want to open an issue in the ArangoDB repository.

The async/promise logic will change in the upcoming 6.0.0 release of arangojs by removing support for node-style callbacks, so it will no lo

[2017-12-19 16:46] #449 closed

[2017-12-19 16:50] pluma commented on #415
It's possible to determine whether a database configuration works by calling the `get()` method on the database object and waiting for it to resolve.

In the upcoming major release 6.0.0 async logic should no longer result in stuck promises, so as long as you wait for promises to resolve/reject, you should always be able to get an error if something went wrong.

[2017-12-19 16:50] #415 closed

[2017-12-19 16:53] pluma commented on #293
I'm closing this issue due to lack of activity. As far as I can tell from the discussion, arangojs does not seem to be compatible with Electron for some reason we were unable to determine. If someone has successfully tested arangojs with Electron or can provide information on what causes the problem, feel free to reopen the issue.

[2017-12-19 16:53] #293 closed

[2017-12-19 16:56] pluma commented on #336
As far as I can tell this seems to be a problem with ArangoDB itself but I was unable to reproduce the problem.

Please feel free to reopen the issue if you think this is a bug in arangojs or can still reproduce the problem with the latest versions of arangojs and ArangoDB.

[2017-12-19 16:56] #336 closed

[2017-12-19 16:57] pluma commented on #313
This should be solved in the upcoming major release 6.0.0. Please feel free to reopen the issue if the problem persists after upgrading to the latest alpha (`npm install arangojs@6.0.0-alpha`) or the final 6.0 release.

[2017-12-19 16:57] #313 closed

[2017-12-19 18:04] pluma commented on #354
This has been addressed in the development version and will be fixed in the upcoming arangojs 6.0.0.

[2017-12-19 18:04] #354 closed

[2017-12-19 20:55] Simran-B commented on #486
Also consider to turn on server-side logging of queries:
https://docs.arangodb.com/3.2/Manual/Administration/Configuration/Logging.html

[2017-12-19 21:33] Simran-B commented on #489
Please try the latest stable release, 3.2.9, and report back if it's still an issue with that version.

[2017-12-20 09:00] yuvanesh10 commented on #490
@pluma the version of arangojs is 5.8 and arango db is 3.2.6

[2017-12-20 10:07] yuvanesh10 commented on #490
const collection = db.edgeCollection('included_in');
const edge = await collection.edge('included_in/595783');

I have created a edge collection manually now and trying to access the data..i am getting the following errors

SyntaxError: Unexpected identifier
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:599:28)
    at Object.Modul

[2017-12-20 10:16] yuvanesh10 commented on #489
@Simran-B yes thank you !!

[2017-12-20 14:07] Simran-B commented on #490
`await` is not allowed in the top scope as per the current ECMAScript specs:

https://github.com/tc39/ecmascript-asyncawait/issues/9

[2017-12-20 14:28] yuvanesh10 commented on #490
@Simran-B thank you !!

[2017-12-20 14:28] #490 closed

[2017-12-20 15:57] pluma commented on #490
In other words: if you just want to try things out, wrap your await code in an async function:

[code]

[2017-12-29 17:46] RedDuckss opened #491 "Saving collection throws 601 error on Ubuntu"
Recently switch over to Ubuntu 16.04 from Windows for redis support (and also because all my VPS' run Ubuntu) while developing, and found that my code no longer works due to a 601 error being thrown on saving. My whole script is too long to post here, but here is a snippet that throws the error:
[code]
This throws the error:
[code]
Even using the example code found on this repo's README (https://g

[2018-01-02 19:22] dsonet commented on #481
Ya this is exactly what we need. How is the progress?
Thanks

[2018-01-03 14:24] yuvanesh10 opened #493 "Creating API route for arangoDB"
I am at the beginning stage of learning the process. So far I could able to connect to the database from node server and successfully able to receive queries or id from collections and even edge collections with the help i got from here.All these were done simply by directly running the server.js file.  Now I would like to create a api route for each  individual task so that I can use this api to

[2018-01-03 14:33] dothebart commented on #493
Hi,
thats what foxx services are intended for: https://docs.arangodb.com/latest/Manual/Foxx/

[2018-01-03 14:34] yuvanesh10 commented on #493
@dothebart I didnt know that..,I will have a look right now. Thank you

[2018-01-03 15:14] yuvanesh10 commented on #493
@dothebart  I just started with the basic step got stuck..just followed the page.
""Error: Cannot find module '@arangodb/foxx/router'""

[2018-01-03 16:39] pluma commented on #493
@yuvanesh10 Try following the tutorial at https://docs.arangodb.com/latest/Manual/Foxx/GettingStarted.html

It seems you're trying to run the Foxx code in Node.js. The idea behind Foxx is that you upload the code directly into ArangoDB to extend the ArangoDB HTTP API with your own routes. You can find more info here: https://www.arangodb.com/why-arangodb/foxx/

Note that the JS environment provide

[2018-01-03 16:40] pluma commented on #486
I'm closing this as answered. If you disagree or need more specific information, feel free to reopen the issue. Have a nice day.

[2018-01-03 16:40] #486 closed

[2018-01-03 16:43] pluma commented on #491
Can you clarify which version of ArangoDB and which version of arangojs you are using?

[2018-01-03 16:49] pluma commented on #481
It's more complicated than initially anticipated. The problem is that nesting `aql` expressions means the bindvars have to be renamed recursively, before the partial queries (and bindvar objects) can be merged. This gets even more complicated when attempting to deduplicate the bindvars (which we currently do). Right now the return value consists of just the query and the bindvars, to do all this w

[2018-01-04 08:54] yuvanesh10 commented on #493
@pluma thank you the detailed answer. Foxx seems to be another framework. But what i am trying to do is..,I have tried to display the collections key from DB from node just by running server.js. It displays in the console. Instead of that is there any way to display the result in the browser. ?
I hope you wont mind me asking this question !!

[2018-01-04 13:35] yuvanesh10 commented on #493
@Simran-B @pluma Adding few more details to my problem. in other words..,how can i create a function to call the arangdb api.,,SO that I can call the node function in to my angular front end framework.

[2018-01-05 09:41] yuvanesh10 opened #495 "Creating a function in Node.js to access to arangoDB"
I have re-framed my previous question in a clear way.I could be able to connect to the database from node server and successfully able to receive queries or id from collections and even edge collections with the help i got from online.All these were done simply by directly running the server.js file. Now I would like to create function in node.js to able to receive the data from arangodb for each

[2018-01-05 11:54] Simran-B commented on #495
So your setup would be ArangoDB <=> Node.js <=> Angular. Is Node.js really necessary? Have you considered Foxx to build custom endpoints that you can directly talk to with Angular, which can perform CRUD but also very complex tasks in the DB?

[2018-01-05 12:25] jdpnielsen commented on #495
Hi yuvanesh10.

I'm not sure what your are going for, but i will try and provide a basic example which you can modify for your use case.

[code]

Running this, you should be able to send a `GET` request to `http://localhost:8080/api/tasks` and retrieve all task documents. Likewise a `GET` request to `http://localhost:8080/api/tasks/:id` (with `:id` being a valid `_key`) should retrieve a specific

[2018-01-15 13:53] Simran-B opened #496 "Import type "array"?"
For imports, there is a check `type !== "array"`:

`      isJsonStream: Boolean(!opts || opts.type !== "array"),`

https://github.com/arangodb/arangojs/blob/master/src/collection.ts#L351

According to the [HTTP API docs](https://docs.arangodb.com/3.3/HTTP/BulkImports/#imports-documents-from-json), only the following are supported: `auto`, `documents`, `list.`

Either the documentation is lacking,

[2018-01-15 13:59] jsteemann commented on #496
"documents", "array", "list", "auto" are the valid values for "type" on the server side.
I think all of them will interpret the input data as line-wise JSON.
Any other value for "type", or lack of the "type" parameter, will trigger the CSV import. Which will also expect line-wise JSON, but interpret things differently: first line is expected to be a JSON array with the column names, the following

[2018-01-15 14:54] Simran-B commented on #496
The actual behavior of the server is somewhat confusing and/or the documentation is incorrect.

Test file: `list.json`

[code]

If I use `type=auto`, it appears to be unable to automatically determine that my input file uses the `list` format.

[code]

An explicit `type=list` does not work either however:

[code]

Nor does the apparent alias `type=array`:

[code]

`type=documents` fails as expecte

[2018-01-15 15:00] jsteemann commented on #496
https://github.com/arangodb/arangojs/issues/496#issuecomment-357690229 describes the server's current behavior.
Not saying that it makes so much sense. How can we go on from here?

[2018-01-15 15:22] Simran-B commented on #496
Is CSV import distinct from array-style data (`list` / `array`)? Or do you mean this by CSV?

[code]

Document-style format is this:

[code]

I don't really understand the purpose of `type=auto`. I would expect it to automatically determine whether the data is in array or document format (both line-based). It does not work for array-style data in my test against a 3.3.2 server running on Windows 1

[2018-01-15 16:25] jsteemann commented on #496
"list" was our old name for "array" (remember we did some internal renaming from "list" to "array" a long time ago). "list" was simply kept to keep it downwards-compatible.
"csv" is actually the array-style input, which seems to have been named CSV because it is normally created by arangoimport when importing CSV files. But the name does not make much sense on the server side, because on the serve

[2018-01-16 19:48] Simran-B commented on #496
I see. So there's a total of 4 formats:

- **CSV**: one record per line, separated by e.g. `,`, fields optionally enclosed in quote marks. First row contains the column labels / attribute keys. Can be imported into ArangoDB with arangoimp, but is not directly understood by arangod.

[code]

- **CSV-style arrays**: each line is a JSON array. The first line is an array of strings with the attribute

[2018-01-18 16:43] pluma commented on #496
I'm pretty sure the current logic in arangojs is wrong. If this can be clarified, I'd love to fix it. Maybe we can also clarify it right in the docs so other API users and driver maintainers will know what to do.

[2018-01-18 18:14] Simran-B commented on #496
@pluma arangojs seems to default to `auto`, whereas the API has no default and waits for CSV-style arrays in that case. To import CSV-style arrays with arangojs (like shown in the [second example of the import method](https://github.com/arangodb/arangojs#collectionimport)), one has to pass `type: ""` or `type: undefined` to overwrite the default `auto`.

I don't particularly like the fact that the

[2018-01-23 08:50] #493 closed

[2018-01-23 09:26] yuvanesh10 opened #497 "Combining two queries in arangodb"
I would like to retrieve all the documents connected to the vertex. First all my idea is to find a vertex by using the information stored in it. i was able to do it with FULL TEXT
QUERY

FOR doc IN spec
  FILTER doc.serial_no == '"12345abc"'
  RETURN doc

RESULT
[
  {
    "_key": "3938424",
    "_id": "spec/3938424",
    "_rev": "_WP3-fvW---",
    "type": "spec-type-545",
    "name": "spec-name-95

[2018-01-23 14:53] dothebart commented on #497
Hi,
please note that this repository is about the arangojs driver only.
ArangoDB Generic questions like these can be asked in the community slack, or stackoverflow.
Please also have a look at the documentation: https://docs.arangodb.com/3.3/AQL/index.html

[2018-01-23 14:53] #497 closed

[2018-01-23 14:54] yuvanesh10 commented on #497
The answer is : can be done by using sub queries..,
LET startVertex = (
  FOR doc IN spec
    FILTER doc.serial_no == '"12345abc"'
    LIMIT 1
    RETURN doc._id
)[0]

FOR v IN 3 ANY startVertex belongs_to
  RETURN v

[2018-01-24 10:13] yuvanesh10 opened #498 "ArangoError: AQL: syntax error, unexpected"
I am trying to convert the subquery in to javascript. I would like to get the result in api. so that I can use it from front end service(angular).

server.js

// BASE SETUP
    // ## Assigning the values

const arangojs = require('arangojs');
const express = require('express');
const aqlQuery = arangojs.aqlQuery;
const bodyParser = require('body-parser');

// ## Const variables for connecting to A

[2018-01-24 10:25] jsteemann commented on #498
The problem seems to be that the AQL query is invalid, so there is this parse error.
The beginning of the query seems to be the particular problem:
[code]
This actually starts a subquery, but the result of the subquery is not captured in any variable. This will not work.
You will need to assign the subquery result to a variable `startVertex` if you want to use it later in the query, e.g.
[code]

[2018-01-24 10:30] yuvanesh10 commented on #498
something like this ?
LET startVertex = (
FOR doc IN spec
FILTER doc.serial_no == '"12345abc"'
LIMIT 1
RETURN doc._id
)[0]

FOR v IN 1 ANY startVertex belongs_to
RETURN v

but if insert this query ..,then there is a syntax errror

[2018-01-24 10:34] jsteemann commented on #498
Yes, changing the query like this should fix the parse error.
It works for me at least.
What syntax error is there then exactly?

[2018-01-24 10:35] yuvanesh10 commented on #498
nooo..,it worksss...There was a spelling mistake..,but it just prints in the console. I couldnt get it in api(localhost:8080/edge)

[2018-01-24 10:37] jsteemann commented on #498
Sorry, I don't understand.
I understand that the query is now working. Good. What is the exact problem now?

[2018-01-24 10:41] yuvanesh10 commented on #498
sorry that I didnt explain properly..The query works fine..
I wanted to get the result with app.get('/edge')
instead of that my query result is just got displayed in node console

[2018-01-24 10:48] jsteemann commented on #498
It looks like you are looking for a Foxx service then.
That will allow you to execute the query on the server side inside a Foxx application, which you can expose via a custom URL (e.g. `/edge`).

Please have a look at the Foxx manual section for this:
https://docs.arangodb.com/3.3/Manual/Foxx/

[2018-01-24 10:48] yuvanesh10 commented on #498
nooo not with foxx service

[2018-01-24 10:51] Simran-B commented on #498
Looks like some Express.js based server, that is supposed to query ArangoDB and return the result in some form to a client. That is however unrelated to ArangoDB / arangojs.

[2018-01-24 10:51] #498 closed

[2018-01-24 10:53] yuvanesh10 commented on #498
guys..,dont close it
i found the answer

[2018-01-24 11:02] Simran-B commented on #498
It's not an issue of arangojs, which this issue tracker is about. It was a syntax error in AQL, which belongs to the core, hence the [main repository](github.com/arangodb/arangodb). It's not a bug, question or feature request regarding ArangoDB however, but JavaScript and Node.js in general.

Please use the appropriate channels to ask questions about that, like StackOverflow (tags express, node.js

[2018-01-30 09:13] Hunter21007 opened #499 "GraphEdgeCollection.edge returns undefined"
If i try to get an edge by its _id

[code]
then the result is undefined

as in source

https://github.com/arangodb/arangojs/blob/44a69687653b759bf4b599e42900658ee0761614/src/graph.ts#L113

the function returns

https://github.com/arangodb/arangojs/blob/44a69687653b759bf4b599e42900658ee0761614/src/graph.ts#L117

in debugger `res.body` contains an edge, but no `graph`

![image](https://user-images.g

[2018-01-30 09:16] Hunter21007 commented on #499
BTW: EdgeCollection.edge  returns `res.body`

https://github.com/arangodb/arangojs/blob/44a69687653b759bf4b599e42900658ee0761614/src/collection.ts#L523

[2018-01-31 18:12] gunawanwijaya opened #500 "Wiki Page instead of README ?"
can we have a wiki page for API & all related stuff? instead of a very long readme

[2018-01-31 20:44] Simran-B commented on #500
We want to split the long readme into smaller files and put them in a subfolder "docs" if I'm not mistaken. A wiki is not really an option, because we might want to pull the docs and build them into the hosted online documentation at some point.

[2018-02-02 11:44] ralfr opened #502 "onDuplicate not working"
Using arangojs ^6.0.1 with latest node and arangodb.

When trying to save (updates to) an existing document via:

`collection.save(doc, {onDuplicate: 'replace'})`

it fails with

`errorMessage: 'unique constraint violated - in index 0 of type primary over ["_key"]; conflicting key:`

My expectation would be for arangodb to gracefully replace the document as per the documentation.

[2018-02-02 12:20] jsteemann commented on #502
I don't think that `collection.save` has an `onDuplicate` parameter that would do that.
May I ask where you got the info from?
I can the task is to replace an existing document, there is also `collection.replace`, in case it should be just partially updated, there is `collection.update`.

[2018-02-02 12:36] ralfr commented on #502
Thanks for responding so fast - awesome support! I got it from [here](https://github.com/arangodb/arangodb/issues/1298#issuecomment-92733878).

I essentially want an UPSERT operation from a node application. Will `collection.replace` do just that?

[2018-02-02 12:57] jsteemann commented on #502
Ah, got it. I think that question referred to `collection.import`, which does a bulk insert/replacement of documents (in contrast to `collection.save` and `collection.replace` which are single-document operations).
As there is no first-class `collection.upsert` operation in arangojs yet, there are the following three options for performing it:
* use a combination of fetching the document to check

[2018-02-05 13:56] codeartch opened #503 "db.acquireHostList() wrong path"
Normal working call:
![arrango_error_1](https://user-images.githubusercontent.com/7149909/35807913-7700fe84-0a84-11e8-8000-ecfe29df4993.jpg)

db.acquireHostList() call, looks like _api is used twice:
![arrango_error_2](https://user-images.githubusercontent.com/7149909/35807914-7721e9a0-0a84-11e8-945d-ee40f1883123.jpg)

resulting in the following error:
![arrango_error_3](https://user-images.github

[2018-02-06 08:55] #495 closed

[2018-02-08 14:15] gunawanwijaya commented on #500
okay then, can't wait for a better and well documented docs, fell free to close this issue

[2018-02-20 10:54] pluma commented on #500
I'm closing this as a duplicate of #123.

[2018-02-20 10:55] #503 closed

[2018-02-22 09:12] yuvanesh10 opened #507 "AQL Query returns a Promise"
I have been trying to get a query result from Arangodb in to my front end service(Angular 4) using soap message. I am able to get a result of the query but printed out in console.log. But how can I get it under this function(myService). In other words, How can I feed my query result into a function rather than printing out the result in console. So that I can use this function to get the output of

[2018-02-22 14:28] AntoineAA opened #508 "Transaction: throw custom exception, with custom code"
Hi,

Im' trying to throw a custom exception in transaction's action, but I can not set the errorNumber.

 - arangojs: 6.1.1
 - ArangoDB: 3.3.3 [linux] 64bit
 - RocksDB 5.6.0

Code:
[code]
Output:
[code]
I expect to catch an exception with my custom error code.
Did I do something wrong?

Thanks!

[2018-02-22 14:56] dothebart commented on #508
Hi,
its working the following way:

    const arangodb = require('@arangodb')
    var err = new arangodb.ArangoError();
    err.errorNum = arangodb.ERROR_BAD_PARAMETER; // <usually some well defined arango error
    err.errorNum = 12345; /// but here some random value
    err.errorMessage = "who's bad?";
    throw err;

[2018-02-22 15:46] AntoineAA commented on #508
It works!
Thanks

[2018-02-23 09:45] Simran-B commented on #507
Already answered here: https://github.com/arangodb/arangodb/issues/4112#issuecomment-353068528

[2018-02-23 09:46] yuvanesh10 opened #509 "AQL query returns a promise"
I have been trying to get a query result from Arangodb in to my front end service(Angular 4) using soap message. I am able to get a result of the query but printed out in console.log. But how can I get it under this function(myService). In other words, How can I feed my query result into a function rather than printing out the result in console. So that I can use this function to get the output of

[2018-02-23 09:51] yuvanesh10 commented on #507
@Simran-B If you dont mind me asking..,how can I await the result ? Even I used .then() but the result was same.

[2018-02-23 10:30] #509 closed

[2018-02-23 12:54] dothebart commented on #508
Ok, I've fixed the documentation, and we now will also forward errorNum in other cases, plus added tests. Did you find the examples in the arangojs documentation or just from https://docs.arangodb.com/devel/Manual/Transactions/TransactionInvocation.html#custom-exceptions ?

[2018-02-23 13:29] yuvanesh10 commented on #507
@Simran-B I have tried in this way too

      db.query(aqlQuery`
     LET startVertex = (FOR doc IN spec
     FILTER doc.serial_no == '"123456abcde"'
     LIMIT 2
     RETURN doc
    )[0]

     FOR v IN 1 ANY startVertex belongs_to
     RETURN v.ip`,
     {
     bindVar1: 'value',
     bindVar2: 'value',
     }
     ).then(function(res) {
              console.log("" + res._result);

[2018-02-24 18:15] yuvanesh10 opened #510 "How to solve Arango query promise error ?"
I have been trying to get a query result from Arangodb in to my front end service(Angular 4) using soap message. I am able to get a result of the query but printed out in console.log. But how can I get it under this function(Service).

So that I can feed into the soap message:
                  `          var soap_msg = '<soapenv:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xmlns:

[2018-02-27 13:12] bairovt opened #511 "Driver stops work after several TypeError responses"
After doing `await documentCollection.document(key)` with space trailed `key` (not trimmed) 6 times successively and recieving `TypeError` with message `Request path contains unescaped characters` driver stops to respond.

[2018-02-27 13:54] #508 closed

[2018-03-01 12:53] #499 closed

[2018-03-06 18:14] pluma commented on #507
@yuvanesh10 It sounds like your problem is not related to arangojs but to a misunderstanding about how JavaScript promises work. I suggest you read this introduction first:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises

I'm not sure where your SOAP code is in relation to the code you posted, but the error you're seeing is because the `res` argument is likely not in

[2018-03-06 18:17] pluma commented on #507
I'm closing this as it's not an arangojs question but a general JS question.

If you would like a more extensive introduction to JavaScript language features I would suggest checking out the (free) book series _You Don't Know JS_ by Kyle Simpson, especially the book _Async & Performance_ which covers async/await and promises: https://github.com/getify/You-Dont-Know-JS#titles

[2018-03-06 18:17] #507 closed

[2018-03-06 18:20] pluma commented on #510
I'm closing this as a duplicate of #509.

[2018-03-06 18:20] #510 closed

[2018-03-06 18:26] pluma commented on #481
Just an update: this is definitely non-trivial and not easy to solve, especially when considering deeply nested queries with bindvars. As this isn't currently a high priority issue, we've decided to shelve the idea for the time being.

[2018-03-06 18:27] pluma commented on #466
It's now an exported TypeScript enum which compiles to a plain JS object.

[2018-03-06 18:28] pluma commented on #461
I'm currently waiting for clarification of the correct behaviour of the ArangoDB import API. See #496 for details.

[2018-03-06 18:30] pluma commented on #396
This likely won't be possible when we add support for VelocyStream, so I'm closing this.

[2018-03-06 18:30] #396 closed

[2018-03-06 18:32] pluma commented on #445
The solution in Node.js land seems to be to simply use a library like https://github.com/TooTallNate/node-proxy-agent. It's possible to pass your own `Agent` to arangojs, so that library should work as described.

[2018-03-06 18:32] #445 closed

[2018-03-06 18:37] #370 closed

[2018-03-06 18:38] pluma commented on #345
The PR was merged and published. I'm closing this.

[2018-03-06 18:38] #345 closed

[2018-03-06 18:41] pluma commented on #279
Changing this would require modifying the data passed to arangojs before sending it to the server. Doing that to obscure a potential error by obscuring sloppy input seems like a bad idea. I'm closing this issue as this won't be implemented. If you want the API to support `null` values, I suggest opening an issue at [ArangoDB](/arangodb/arangodb) instead.

[2018-03-06 18:41] #279 closed

[2018-03-06 18:42] pluma commented on #263
This has been addressed with `useBasicAuth`.

[2018-03-06 18:42] #263 closed

[2018-03-06 18:42] pluma commented on #42
This seems to be a general ArangoDB/AQL question, nothing arangojs specific.

[2018-03-06 18:42] #42 closed

[2018-03-06 18:43] pluma commented on #500
Forgot to actually close this.

[2018-03-06 18:43] #500 closed

[2018-03-06 20:52] pluma commented on #123
Docs live at https://github.com/arangodb/arangojs/blob/master/docs/Drivers/JS/README.md for now. Still require some more detailed splitting but this is a start.

[2018-03-06 20:52] #123 closed

[2018-03-06 20:58] pluma commented on #472
FYI arangojs has been rewritten in TypeScript and now provides official bindings.

[2018-03-07 06:15] maku opened #514 "better way for transaction support"
For me the possibility to have transaction support is a huge selling point for ArangoDB. So I played around with transaction support and it feels rather painfull how it works (especially with more complex functions)
e.g. my code is written in typescript now I have to write a javascript function as a string.

So my question: would it be possible to provide an API e.g. like firestore (https://fireba

[2018-03-07 15:06] pluma commented on #514
Currently the only transaction API that ArangoDB provides is the one available in arangojs. The reason you have to pass a JavaScript function is because that is code that will be executed in the database rather than in Node. There's currently no way around this.

I'd suggest opening an issue on the [ArangoDB repository](/arangodb/arangodb) instead.

[2018-03-08 07:53] maku commented on #514
@pluma thank you for responding. I opened an issue...

[2018-03-08 07:53] #514 closed

[2018-03-09 16:05] casdevs commented on #466
I'm sorry, but I can't find out how to access the `types` object from outside the arangojs module...
Checking the module's source code, it doesn't seem that it gets exported. The only public exports are `database` and `aql`, but the `types` object is just exported on the `Collection` type which I can`t access from outside of the module?

Thanks for clarification!

[2018-03-09 16:46] pluma commented on #466
You should be able to import from `arangojs/cjs/collection` but I guess we can make that part of the "official" exports as well.

[2018-03-09 17:20] akomm opened #516 "async/await usage example should be wrapped in an async function"
It looks like the source files here declare functions "async", but the d.ts in the npm package are translated as promises, which in turn typescript does not understand when using "await" as it expect the functions to be declared "async", resulting in:

`TS1308: 'await' expression is only allowed within an async function`

Did I miss something or is there a transpiler option you guys could flip to

[2018-03-10 16:34] casdevs commented on #466
thanks for the hint!
A direct es6 import like `import {Types as CollectionTypes} from 'arangojs/lib/async/collection';` does work; however, it would be great indeed if one could access that in a more 'official' way that doesn't require the caller to decide whether to use the `async` or `cjs` code base.

[2018-03-12 14:29] pluma commented on #516
If I understand you correctly, the error you saw indicated that in order to use `await` *your* code needs to be an `async function`. This is thus unrelated to arangojs itself.

Can I close this issue?

[2018-03-13 10:47] akomm commented on #516
Yes, regarding this issue :)

Just one question. Why is it supposed to work:
https://github.com/arangodb/arangojs#basic-usage-example

Is it possible that this docs is from before you migrated to TS and based on es6 and it works in that case, but the way TS transpiler trinspiles async/awaut requires the async func wrapper?

If not it would mean the doc has error?

[2018-03-16 10:32] yuvanesh10 opened #518 "How to replace a status in array ?"
I have tried to modify a document by using data queries.
       `FOR u IN users
          FILTER u.status == "true"
           UPDATE u WITH { status: "inactive" } IN users`
This works fine for a normal structure. But when query is in a array form. This doesn't seems to replace or modify. How can I achieve this ?

this is my array

     `{
      "slave_state_datasets": [
        {
        "no": 0,

[2018-03-16 10:44] jsteemann commented on #518
For the above data, the following should work:
[code]

[2018-03-16 10:56] yuvanesh10 commented on #518
wow ..,amazing !! this works like a charm..! thank you so much
isn't it like a subquery ? and there are no documentation regarding this  anywhere.

[2018-03-16 12:24] #518 closed

[2018-03-16 13:42] Simran-B commented on #518
The part in parentheses is a subquery: `LET updates = ( ... )`

Subqueries as well as the individual high-level operations and functions are all documented. Are you missing examples how to update nested data structures like yours?

[2018-03-16 14:09] yuvanesh10 commented on #518
ja i mean...,the query examples to deal with arrays

[2018-03-20 17:54] pluma commented on #516
Yeah, the example isn't entirely truthful. You would indeed need to wrap that part in an async function. However you'd rarely use arangojs directly like that. We might to replace that with a more realistic example.

[2018-03-21 10:42] pluma commented on #34
Fixed via #519.

[2018-03-21 10:42] #34 closed

[2018-03-21 10:44] pluma commented on #502
I'm closing this issue as it looks like the question has been answered and there hasn't be a follow-up question in two months. If you have more questions about ArangoDB I recommend checking out our community slack at https://slack.arangodb.com/

[2018-03-21 10:44] #502 closed

[2018-03-21 11:38] #491 closed

[2018-03-21 11:42] #468 closed

[2018-03-21 11:46] #516 closed

[2018-03-21 18:41] dsonet commented on #468
@pluma If set to `false`, return additionally the complete...., it should be 'If set to `true`'.

[2018-03-26 09:11] lihanyu23 opened #521 "Collection update not returning result promise"
API broken due to #515.
The return statement is removed.

Actually in [14-document-collections.ts]( https://github.com/arangodb/arangojs/blob/6f4110baab958ddaaeca2d0114b4afe868a5e7c1/src/test/14-document-collections.ts#L211-L262) the test case uses collection.save instead of collection.update, so it doesn't detect that API regression.

[2018-03-28 15:17] Piwaii commented on #521
https://github.com/arangodb/arangojs/commit/91ec3f599ffd546333dc42da4ee75cc03a907415

[2018-04-03 04:53] XBeg9 commented on #325
@mrksbnch +1

[2018-04-03 07:40] UnGast opened #522 "documentation for collection.update opts"
If set to `false`, return additionally the complete new documents under the attribute new in the result.

It has to be `true`.

[2018-04-04 08:45] gurisko opened #523 "Handle rocksdb write conflict internally"
This is a feature request where we would repeat requests that fail due to rocksdb conflict (ERROR_ARANGO_CONFLICT).

[2018-04-04 09:00] pluma commented on #523
Hi @gurisko,

conflicts arise when two write operations attempt to modify the same data. There is no safe way to resolve this conflict at the driver level because this creates a potential for silent data loss. Conflicts should be resolved at the application level.

The reason you're seeing write conflicts more often with RocksDB right now is that transactions are applied differently in the RocksDB

[2018-04-04 09:00] #523 closed

[2018-04-06 14:45] iyobo opened #524 "query(...) has bad error handling."
See this...
[code]
The error never gets caught because I never see my console.error message. Instead what I see is this totally disconnected console.error in my logs:
[code]
There is no trace of my source code in this error to know exactly where this error is coming from.
This means the query functions in the module do not actually throw any ArangoErrors in such a way that is catchable by blocks u

[2018-04-09 08:11] mpv1989 commented on #524
Hi @iyobo ,

we implemented a test for your problem but we can not reproduce the described behavior with it. Is it possible that the posted stacktrace occurs in a different place?

If you are seeing an object as return value of `query()` or `cursor.all()` that usually indicates a missing `await`. Are you sure the code you posted is the code being executed?

best
Mark

[2018-04-13 10:39] Simran-B commented on #522
Submitted PR: #527

[2018-04-13 11:53] Simran-B commented on #502
@jsteemann Using the following query pattern, can many documents (10k+) be sent at once, or should one send batches (e.g. 1k at a time)?

[code]

[code]

BTW: This pattern works really nicely. If no key is provided for a document, a new document will be inserted with an auto-generated key. This is also the case if documents exists with key "null" or "undefined".

[2018-04-19 16:04] chicarrida opened #528 "Get next Batch"
Hi there,
browsing through the documentation I found the cursor API only has a .next() method.
Is there a way to get the next batch of size _batchsize_ that I set in the options of the initial query?

Thank you

[2018-04-20 10:10] jdobber commented on #528
To be more precise: How can I trigger

[code]
through the javascript driver?

So, a dirty hack within my code looks like this:

[code]
But is there a better way to achieve cursor-based pagination?

[2018-04-20 10:27] kevinsegal commented on #511
Happening for me too, any fix for this?

[2018-04-27 10:26] nomeyer opened #529 "Collection update return type broken with #515"
Hi there, I just noticed that `collection.update` is now typed as returning `void` instead of `Promise<any>`. I think this is an error originating from the removal of `async` at 5d510dd in #515 (see [here](https://github.com/arangodb/arangojs/pull/515/files#diff-ac21d0b8401bfeb9257de8175cd225d1R215)).

[2018-04-27 15:28] pluma commented on #528
You should never need to create a cursor directly. The `next` method automatically fetches the next batch as needed but only returns the next item in the result set (which spans all batches).

Are you looking for a method that returns an array of all results per batch?

[2018-04-27 15:31] pluma commented on #524
Hi @iyobo

can you please provide an example that reproduces the problem you described?

We have created a test case but can not reproduce the error you're seeing so there's nothing we can do right now without further information. I'm closing this issue now but feel free to reopen it if the problem persists.

[2018-04-27 15:31] #524 closed

[2018-05-01 01:14] good-idea commented on #481
@Brian-McBride I needed something similar and came up with [this](https://gist.github.com/good-idea/e75beb2f938f9db03b6d9bc3ba2bbc9e).

@pluma, I know that the benefit of using the ` aql`...` ` tag is protection against AQL injection. Is this something that the tag takes care of, or, is it in the structure of `db.query('MY AQL QUERY', { values: ... })`?

To elaborate: My example creates a string t

[2018-05-22 09:21] rhclayto commented on #523
Are you aware of any good tutorials/blogs/etc. discussing good strategies for handling write-write conflicts application-side, especially with respect to ArangoDB/RocksDB?

[2018-05-23 13:43] Arun-KumarH opened #533 "Dynamic filter template strings in AQL query."
We are switching from `aqbjs` to template strings for constructing our queries and we want to dynamically build a filter for a query, given a list of filter objects, which contain a key, a value and an operator. Is it possible to do this?

DB Data:
[code]

Lets say user provides input as two filters ( id > 2 and testdoc=testDocValue4) then this should return doc[3].
Below is my code snippet:

[cod

[2018-05-25 03:09] positiveneutron commented on #475
Thanks @aronse your solution works for my case.

[2018-05-29 18:05] ile opened #535 "Crashing on an error"
Got this error a couple of times. It crashes the Node app.

[code]

[2018-05-29 18:29] ile commented on #535
This actually happens quite often. I just don't know what the input to this crashing/failing request is.

[2018-05-29 20:03] pluma commented on #535
If I had to guess, I'd say you're probably using non-alphanumeric strings as document keys or collection names. Maybe spaces or special characters (or accented letters)?

[2018-05-29 21:56] ile commented on #535
The key may be `[object Object]` and there is some bug in the app.

But that shouldn't crash it, should it?

[2018-05-30 12:28] Arun-KumarH commented on #533
used a template string (with out aql tag) with bind variables as alternative.

[2018-05-30 12:28] #533 closed

[2018-05-30 14:17] Simran-B commented on #533
@Arun-KumarH maybe aql literals are of some use too: https://github.com/arangodb/arangodb/pull/5184

[2018-05-30 16:41] marktheis opened #537 "Explain query functionality"
How would I check how a query performs when using a simple query?

Currently I'm using collection.updateByExample and would like to know how the query performs, just like you can press "Explain" in the web interface.

Is that possible or should I rewrite my query in AQL?

[2018-06-05 12:48] rraziel commented on #349
I've checked the [sources](https://github.com/arangodb/arangojs/blob/master/src/collection.ts#L249) and it seems like this is not implemented yet.
Would it be ok if I worked on this and submitted a pull request?
Are there any guidelines/recommendations/etc.?

[2018-06-05 13:02] rraziel commented on #349
Actually just noticed the `removeByKeys`, so maybe it's already in there?

[2018-06-06 11:52] pluma commented on #535
I wouldn't expect it to crash the app but I don't know if Node chokes on it somehow.

We could validate the document key at run time but that would slow things down a bit. I'll look into if there's something we can do to better handle the error when it occurs but if you want arangojs to guard you against passing non-strings as document keys, I'd suggest using TypeScript instead of JS so you benefi

[2018-06-06 11:56] pluma commented on #537
The "explain" API only works for AQL queries. Simple queries are primarily convenience methods providing a subset of the same functionality.

Generally you should expect the simple queries to be slower than the AQL equivalent.

[2018-06-06 12:58] pluma commented on #349
No, this is separate from remove-by-keys, which uses the deprecated simple query API.

@rraziel if you'd like to work on this, that'd be awesome. Just keep in mind we need a signed Contributor License Agreement (CLA) for legal reasons before we can merge any PR.

You can download the form from our website: https://www.arangodb.com/documents/cla.pdf

Once you've filled out and signed it, please sen

[2018-06-06 14:40] ile commented on #535
I'll see more about this, but wouldn't a simple `try catch` guard against this?

[2018-06-06 17:49] ile commented on #535
I seem to be using an old arangojs (5.8.0) where this happens, and it may not happen with the latest version.

Also the [object Object] key is actually a string "[object Object]".

I think this can be closed. This is what I get when I try to reproduce this:

[code]

[2018-06-08 21:50] toymachiner62 opened #540 "`db.collection is not a function` when trying to use within the "action" param in db.transaction"
When trying to insert data into a handful of collections within a transaction i'm getting the error `ArangoError: db.collection is not a function`

I'm following the example at the bottom of [this](https://docs.arangodb.com/devel/Drivers/JS/Reference/Database/Transactions.html) page

[code]

Am i doing something incorrectly?

[2018-06-12 16:45] toymachiner62 commented on #540
Solved it myself. Had to use `db._collection`

[2018-06-12 16:45] #540 closed

[2018-06-12 17:13] pluma commented on #535
Okay, if it's an unhandled rejection we should probably guard against that with a try/catch. Thanks for pointing that out.

[2018-06-12 17:15] pluma commented on #537
I'm closing this as the question appears to have been answered. If you think there's anything we can do to address this in arangojs, feel free to reopen this at any time.

[2018-06-12 17:15] #537 closed

[2018-06-12 17:26] toymachiner62 opened #541 "db._query(...).then is not a function"
I'm trying to run a query within a transaction and use the results of the query to manipulate some of the data.

The documentation on using transactions within arangojs is basically non-existent, but i've managed to get this far and now i'm getting the error `db._query(...).then is not a function` with the transaction code below.

How can I get the results of my query to manipulate them?

[code]

[2018-06-12 19:13] pluma commented on #541
The code inside the `action` function is executed *in ArangoDB*, not in Node, which is why the API is also slightly different:

https://docs.arangodb.com/3.3/Manual/Appendix/JavaScriptModules/ArangoDB.html

Note that among other things unlike arangojs every ArangoDB API is *synchronous*. So the reason the `then` isn't working for you is that it's not returning a promise.

[2018-06-12 19:39] toymachiner62 commented on #541
Excellent i didn't know that. Is it documented anywhere that ArangoDB is synchronous?

IMO the ArangoDB examples are lacking. Some on transactions, these synchronous returns, etc would be helpful.

[2018-06-12 19:39] #541 closed

[2018-06-12 20:04] pluma commented on #541
I agree that the documentation of the ArangoDB JS API is a bit lacking. The primary use cases covered by that documentation right now are [Foxx](https://foxx.arangodb.com) and arangosh. If you can point out any particular things you'd like us to improve, please open a ticket with the [ArangoDB main repo](https://github.com/arangodb/arangodb/issues)

[2018-06-13 14:57] Simran-B commented on #540
The `@arangodb` module is not to be confused with ArangoJS. You will mostly be using its db object:

https://docs.arangodb.com/devel/Manual/Appendix/References/DBObject.html

[2018-06-14 00:22] toymachiner62 opened #542 "Is there a collection.exists method?"
I'm curious if there is a `.exists()` method in the js lib as there is [here](https://docs.arangodb.com/3.3/Manual/DataModeling/Documents/DatabaseMethods.html#exists) for regular arango queries.

[2018-06-14 02:34] toymachiner62 opened #543 "TypeError: cursor.hasNext is not a function"
I'm looking at the documentation for `cursor.hasNext()` [here](https://docs.arangodb.com/devel/Drivers/JS/Reference/Cursor.html#cursorhasnext) and with the code below i'm getting the error `TypeError: cursor.hasNext is not a function`

[code]

[2018-06-18 11:32] pluma commented on #543
Can you clarify which version of arangojs you are using? The documentation is for 6.x but the API may have looked differently in the past.

[2018-06-18 11:34] pluma commented on #542
There is no equivalent of this in the ArangoDB HTTP API which arangojs uses.

The most straightforward solution is to use `.get()` and check if it throws a 404 error. We might end up implementing a wrapper that does just that but it wouldn't be any more efficient.

[2018-06-18 15:41] toymachiner62 commented on #543
I'm using 6.2.4

[2018-06-20 15:30] pluma commented on #542
We've added `exists` methods to the database, collection and graph objects.

[2018-06-20 15:30] #542 closed

[2018-06-20 15:31] pluma commented on #535
Version 6.3.0 now handles sync errors in requests.

[2018-06-20 15:31] #535 closed

[2018-06-20 16:58] pluma commented on #511
I'm closing this due to inactivity. Might be solved by 6.3.0: we're now correctly handling synchronous errors during request creation (such as errors due to malformed URLs).

[2018-06-20 16:58] #511 closed

[2018-06-21 16:59] toymachiner62 opened #545 "Is there a way to use NPM modules in a transaction?"
I'm trying to loop through an array, check if the _key already exists, if it does generate a new one using the [uuidv4](https://www.npmjs.com/package/uuidv4) module. I'm trying to this all within a transaction.

Is it possible to use NPM modules within transactions? If so how?

[2018-06-21 17:12] pluma commented on #545
There are some NPM modules bundled with ArangoDB for various reasons:

https://docs.arangodb.com/3.3/Manual/Appendix/JavaScriptModules/

However generally if you need to use NPM modules you should consider using [Foxx](https://foxx.arangodb.com) instead of sending JavaScript over the wire using arangojs.

Keep in mind that the JS environment of ArangoDB is slightly different from that of Node or t

[2018-06-21 17:27] toymachiner62 commented on #545
The whole idea of foxx services seems wrong to me. Especially when it comes to decoupling, scaling, or deploying independently from the actual arangodb. This [caveat](https://docs.arangodb.com/3.0/Manual/Foxx/Dependencies.html#compatibility-caveats) is also another reason I don't like the idea of foxx. What about choosing which version of node to use? Can that be done with foxx?

[2018-06-21 17:27] #545 closed

[2018-06-21 18:23] Simran-B commented on #545
ArangoDB does not use or embed Node.js. There is only an embedded V8 and things are run blocking and multi-threaded.

Regarding "deploying independently from the actual arangodb": Why would you want to do that? Foxx is data-centric microservices, to be run close to the data instead of sending lots of data for processing to a client.

[2018-06-21 18:39] toymachiner62 commented on #542
Is this released? If so which version? Has the documentation been update? I don't see anything regarding the `exists` method in the documentation [here](https://docs.arangodb.com/devel/Drivers/JS/Reference/)

[2018-06-22 09:23] Simran-B commented on #542
Docs on docs.arangodb.com do not sync content from other repositories automatically, including ArangoJS.

See the changes here: https://github.com/arangodb/arangojs/commit/182c11a2f8f7a63501814a7b1bf710ce713efbf5

[2018-06-22 10:12] pluma commented on #542
Yeah, sadly the docs don't get rebuilt automatically.

@Simran-B If we move the release process to Jenkins, can we force a rebuild of the ArangoDB for every release? I have no idea what triggers the rebuild right now.

[2018-06-22 10:37] Simran-B commented on #542
It's not so much about automatically rebuilding, but about syncing the content from external repos.
We have a Jenkins job to rebuild the docs, but running the sync script is a manual process on purpose. I'm not sure if it's automatically done for a release however.

[2018-06-27 13:36] kharandziuk opened #547 "Is there a way to import ArangoError?"
Is there a way to import Arango-specific errors in my code?
I want to have a behaviour similar to:

`const { ArangoError }  = require('arangojs/errors');`

[2018-06-27 19:50] Simran-B commented on #547
There is `require("@arangodb").errors`, which gives you an object with error name constants mapped to error number and message.

For instance, you can do the following in `arangosh`:

[code]

There is also a direct mapping to error codes:

[code]

And you find an ArangoError method here:

[code]

Does this suffice?

[2018-06-28 14:56] kharandziuk commented on #547
no, it's not. I don't want to import DB package in a project which uses the client.

also, it's probably two different kinds of errors https://github.com/arangodb/arangojs/blob/master/src/error.ts and the one from DB package. Probably, it's impossible to use instanceof check in the case

[2018-06-28 22:11] Simran-B commented on #547
As far as I can tell, `error.ts` provides the standard error messages for HTTP error codes. This is different from ArangoDB error codes. If you copy-paste the mapping from `errors.js` then you don't have to import anything. You can't use the `@arangodb` module in Node.js/browser anyway I believe.

[2018-07-02 11:37] pluma commented on #547
The `ArangoError` is currently not exported. Unless you need it for TypeScript I would recommend checking the `isArangoError` property (always `true` if it's an ArangoError instance) if you need to distinguish by error types.

[2018-07-02 11:39] pluma commented on #543
@toymachiner62 can you verify whether the problem still persists with 6.3.0?

Also can you provide a short example demonstrating the error that we can execute? It's difficult to go from a paraphrased code snippet to a reproducible test case.

[2018-07-02 12:11] kharandziuk commented on #547
@pluma. Thanks.
Is there any design decision behind "not exporting errors"?

[2018-07-02 13:05] pluma commented on #547
Not really, it's mostly an artefact of using a compiler. We should probably export at least most of the user-facing classes though, if only for TypeScript users.

[2018-07-02 19:41] toymachiner62 commented on #543
I'm actually not able to reproduce in 6.2.4 in a different section of code i'm working on. `cursor.hasNext()` seems to work fine. I'll try to get back to the code where i originally had this issue in the next day or 2

[2018-07-05 10:32] E314c opened #550 "Unable to close a connection to arango established through the nodejs package"
## System
NodeJs Version: 8.11.3
Arango version: 3.2.9
ArangoJs version: 5.8.0 (Also tested in latest: 6.3.0)

## Issue
Unable to close connections to the arango database, which causes a build up of unused connections.
This causes issues when we may want to open a connection and perform work for a while, but close the connection afterwards, without terminating our entire nodejs application.

## Wo

[2018-07-06 09:34] pluma commented on #543
@toymachiner62 I'm closing this for now. Feel free to reopen if you do manage to reproduce the error.

[2018-07-06 09:34] #543 closed

[2018-07-06 09:44] pluma commented on #550
If I understand you correctly, you're generating arangojs instances dynamically at runtime and discarding them after use? Is there any particular reason you're doing it this way? As multiple instances won't share a connection pool you're putting a lot of load on ArangoDB this way. Keep in mind you can adjust the connection pool using the `agentOptions` (particularly `keepAliveMsecs` and `maxSocket

[2018-07-06 09:47] pluma commented on #550
I'm not flagging this as a bug as the expected use for arangojs so far has been either in short-lived processes or as a single instance in long-lived processes that benefit from an open connection and the impact can be reduced by adjusting `keepAlive` (though it's odd that connections hang around for minutes when the default is supposed to be 1000 ms).

[2018-07-06 09:48] pluma commented on #528
I'm closing this as the question seems to have been answered.

[2018-07-06 09:48] #528 closed

[2018-07-06 10:13] E314c commented on #550
Yes, we're dynamically generativing arango instances.

We have long running processes that "wake up" on triggers, perform a large amount of work, then go back to sleep. While they are sleeping there is no need to hold the arrango connections open, but when they awake we need to keep the connections open for ~30minutes. We don't terminate process on going to sleep, as the process is actually runnin

[2018-07-06 10:31] pluma commented on #550
Looks like `keepAliveMsecs` actually doesn't control the timeout but an unrelated delay so connections Node opens with keepalive seem to simply remain open forever. Seems we need to adjust our documentation.

I'll expose the `destroy` method nevertheless to help use cases like yours.

I'll also look into how we can implement a proper timeout to automatically destroy connections, considering Node a

[2018-07-06 12:17] pluma commented on #547
Fixed via 6.4.0

[2018-07-06 12:17] #547 closed

[2018-07-06 12:18] pluma commented on #466
Fixed via 6.4.0, the enum is now called `CollectionType` and part of the public exports.

[2018-07-06 12:18] #466 closed

[2018-07-06 12:19] pluma commented on #550
@E314c Try the newly published 6.4.0, which now has an explicit `close` method.

[2018-07-06 12:28] E314c commented on #550
perfect, just what we needed 👍

[2018-07-06 12:28] #550 closed

[2018-07-06 12:40] E314c commented on #550
just realised, is this issue being used to track the `keepAliveMsecs` bug too?
That's still there, so should I reopen it?

[2018-07-06 13:02] pluma commented on #550
Well, it seems that isn't a bug and in the arangojs documentation we don't mention what it does, so there's nothing that needs changing. If we add a timeout behavior, we'll probably add a new config option.

[2018-07-06 23:43] JonDum commented on #481
Thanks for sharing that, @good-idea. Pagination is turning out to be a huge bitch with arango, I really liked your example.

@pluma Just wanted to chime in that I share the same use case. Even just being able to dynamically add a statement would be of huge benefit, ie

[code]

Would it be possible to null check the arg at least? `aql`${null}`` would be treated safe

[2018-07-09 06:57] Arun-KumarH opened #551 "Graphs - check if edge definition alread exists ?"
Is there any way to check if the edge definition already exists in a graph.
(Because if the edge def already exists the addEdgeDefinition() api throws an error saying collection already used in edge def with status code 400).

[code]

[2018-07-09 23:31] jiankian opened #552 "Failed to create database: { UnauthorizedError: Unauthorized"
I am code same this page https://www.arangodb.com/tutorials/tutorial-node-js/ ,but it is not working.
Platform Windows 7 64bit

[2018-07-09 23:32] jiankian commented on #552
How login as root  user？ config the user .

[2018-07-11 07:57] jiankian commented on #552
https://www.arangodb.com/tutorials/arangodb-node-js-2/
This is a wrong course，
`npm install arangojs@5` It's a wrong installation version。
just work in ``npm install arangojs`

[2018-07-11 07:57] #552 closed

[2018-07-20 10:45] Simran-B opened #554 "Save options not supported by edgeCollection (returnNew: true does not return full document)"
Method signature for document collection: `documentCollection.save(data, [opts])`

For an edge collection: `edgeCollection.save(data, [fromId, toId])`

There is no `opts` in the latter, however, the [documentation lists it](https://docs.arangodb.com/devel/Drivers/JS/Reference/Collection/EdgeCollection.html#edgecollectionsave) as possible parameter.

[code]

[code]

[2018-07-31 11:48] Simran-B commented on #551
You can either try to add an edge definition and catch a possible error, or retrieve the graph to inspect the existing definitions yourself:

[code]

[2018-07-31 15:16] #551 closed

[2018-08-01 09:39] sirpy opened #556 "http gateway timeout"
When issuing an AQL to fetch a vertex edges in it has lots of them the requests timeouts with the error:
 HttpError: Gateway Timeout

how can I increase this timeout?

[2018-08-01 10:16] Gby56 commented on #183
Hi !
I stumbled upon this problem and it seems that it is implemented, but not in arangojs perhaps
https://docs.arangodb.com/3.3/Manual/DataModeling/Documents/DatabaseMethods.html#exists

Is there a release for this ?

[2018-08-01 13:16] Simran-B commented on #183
See https://github.com/arangodb/arangojs/pull/557

[2018-08-02 01:56] snocorp opened #561 "createDatabase parameters do not follow specfication"
The reference manual indicates that the users argument should be an array of:
[code]

See https://docs.arangodb.com/3.3/HTTP/Database/DatabaseManagement.html#create-database

The current implementation only allows for an array of strings.

[2018-08-06 12:38] pluma commented on #561
Yupp, that seems to be a bug in the type signature. Thanks for spotting this.

[2018-08-06 12:40] pluma commented on #556
Can you clarify how you're accessing the database? Is it behind a proxy? This error originates from the server. If you're using a reverse proxy like nginx or apache, you may have to adjust the timeout to prevent slow queries from being terminated.

[2018-08-06 12:43] pluma commented on #554
I thought this had been fixed but it turns out it only respects the options for 2.x. The culprit is here:

https://github.com/arangodb/arangojs/blob/master/src/collection.ts#L783

[2018-08-06 12:50] sirpy commented on #556
yeah its behind nginx proxy

On Mon, Aug 6, 2018 at 3:41 PM Alan Plum <notifications@github.com> wrote:

--
Hadar Rottenberg
https://www.linkedin.com/in/hadarrottenberg/
https://dablock.co
https://medium.com/dablock
https://meetup.com/dablock
telegram <https://t.me/joinchat/FV4L_lLidGNQsMnY7jGCQA>
+972-50-7319093

[2018-08-07 16:41] pluma commented on #556
Okay, in that case you may need to adjust the nginx configuration for the site.

I can't help you with that but I think this might be related: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout

[2018-08-13 01:34] snocorp opened #562 "Running the test suite and failing tests"
I am attempting to create a contribution for #561 but there aren't any document on how to run the test suite. I've setup arango to run locally but I'm still seeing 13 of 301 tests fail for various reasons.

Is this currently expected? Is there any CI service that automatically runs the tests (I noticed that Travis was removed)?

If the tests are currently failing, I'd be glad to help where I can.

[2018-08-13 11:55] pluma commented on #562
That bug in particular has been fixed locally.

It should be possible to run the tests simply by having ArangoDB run on port 8529 with an empty password for the `root` user. I've noticed the docs in question were accidentally moved out of the README and into the user documentation: https://github.com/arangodb/arangojs/blob/master/docs/Drivers/JS/GettingStarted/README.md

Can you clarify what tests

[2018-08-14 21:09] snocorp commented on #562
After filtering out the ones that should be fixed by #563 here are the remaining tests that fail for me:
[code]

[2018-08-15 07:37] pluma commented on #562
Can you clarify which version of ArangoDB you're running?

[2018-08-15 13:07] snocorp commented on #562
ArangoDB 3.3.13 [linux] 64bit, using jemalloc, build tags/v3.3.13-0-g92a0c395de, VPack 0.1.30, RocksDB 5.6.0, ICU 58.1, V8 5.7.492.77, OpenSSL 1.1.0f  25 May 2017

[2018-08-15 14:59] #554 closed

[2018-08-15 14:59] #561 closed

[2018-08-15 15:16] pluma commented on #562
The arangojs tests currently assume you're running the latest version of ArangoDB i.e. the 3.4 development version, which hasn't been released yet.

To explicitly tell arangojs that you're using 3.3.13 you should run the tests like this:

[code]

This sets the `arangoVersion` config, which arangojs uses to toggle its behavior, but it also selectively disables or enables tests.

[2018-08-15 15:18] pluma opened #564 "Move testing section into README and expand"
The testing section is irrelevant for regular users of the npm release and shouldn't be part of the documentation. Instead it should be moved into the README or expanded into a full CONTRIBUTING.md.

Via #562

[2018-08-15 17:04] snocorp commented on #562
That worked! Thanks for your help. Feel free to close this issue.

[2018-08-16 08:11] #562 closed

[2018-08-16 10:16] Arun-KumarH opened #565 "Invalid edge can be created although the vertex does not exist ?"
Hello,

I have created a vertex collection named 'vertices'  and created an edge named ('vertice_to_vertice_edge') between the 'vertices' collection.
I inserted two vertices (with keys 1 and 2) and created and edge between them.

// Valid Edge created
  await createEdge('vertice_to_vertice_edge', {some: 'edgeData1'}, 'vertices/1', 'vertices/2');

// Invalid Edge should not have been created
  awai

[2018-08-16 10:17] #461 closed

[2018-08-16 10:17] #496 closed

[2018-08-16 11:15] pluma commented on #565
Since arangojs just uses the HTTP API, this sounds like a bug in ArangoDB, not arangojs. The code you have posted here seems to correctly use the `GraphEdgeCollection`, which uses the graph API to save documents.

Can you please create an issue at https://github.com/arangodb/arangodb/issues/new and reference this one in it?

[2018-08-16 11:18] pluma commented on #556
I'm closing this as this is not related to arangojs or ArangoDB. If the problem persists despite the nginx proxy timeout, feel free to open an issue at the main ArangoDB repository and reference this issue in it.

[2018-08-16 11:18] #556 closed

[2018-08-16 11:40] Simran-B commented on #565
@pluma Does arangojs wrap the Gharial API, or does it use the document API for this?

[2018-08-16 11:55] pluma commented on #565
@Simran-B As I said, it uses the graph API (i.e. gharial).

[2018-08-16 12:26] #564 closed

[2018-08-16 12:29] pluma commented on #565
@Simran-B That is why I clarified it. Regular `EdgeCollection` uses the regular edge API. But the code example uses `graph.edgeCollection` which returns a `GraphEdgeCollection`.

This is the route `GraphEdgeCollection#save` uses:

[code]

[2018-08-16 12:29] pluma commented on #565
To clarify: I'm assuming `graph` is indeed a Graph, not a Database.

[2018-08-17 08:35] Arun-KumarH commented on #565
Works with DB version 3.3.9.

[2018-08-17 08:35] #565 closed

[2018-08-17 12:48] cbluth opened #566 "How to disable cert validation?"
Please see here: https://github.com/arangodb/kube-arangodb/issues/239

I am running arangodb in kubernetes using this: https://github.com/arangodb/kube-arangodb
I my arangojs client cant validate the certificate, even if I do this:
[code]
and then:
[code]

I am getting this error when trying to connect to a kube-arango cluster:
[code]

How can I turn off cert hostname validation in arangojs?
Is it

[2018-08-20 20:47] sshillyer opened #567 "Typescript errors (multiple)"
Trying to bootstrap a project with arangojs integration and getting errors trying to compile into typescript.

I ran in a new project 'npm install --save arangojs' then setup the below index.ts and tried running typscript compile 'tsc index.ts' and received multiple errors.

The code I'm executing is basically the sample from the tutorials.

contents of index.ts:
[code]

errors:
[code]

[2018-08-27 10:36] pluma commented on #567
Try installing `@types/node`. That's generally good advice when using TypeScript for a node.js project.

[2018-08-27 10:41] pluma commented on #567
FYI this is more of a general TypeScript usage question rather than one related to arangojs.

I'd recommend trying out [Visual Studio Code](https://code.visualstudio.com/) (free, lightweight and cross-platform) which has awesome TypeScript integration and makes it easy to catch and auto-fix these problems before even compiling once.

[2018-08-27 20:31] sshillyer commented on #567
I installed @types/node. The above typescript errors went away, except for the type Blob.

No other package I've installed has required me to manually install various components. The type "Blob" is in the arangojs file referenced in the below error, which is the one that I meant to post in the issue. I can "fix" the problem by removing "Blob" as a type for the downloadService function signature re

[2018-08-27 20:52] pluma commented on #567
Hm... odd. Can you try setting `"skipLibCheck": true` in your `tsconfig.json`?

I wonder why you're not getting similar issues with other libraries that use node built-in modules (and especially `Buffer`, which is a node global).

The `Blob` you're seeing is for browser compatibility. Try adding `"dom"` to your `tsconfig.json` file's `"lib"` array.

I didn't mean to imply VSCode makes the errors g

[2018-08-27 21:01] pluma commented on #567
Can you tell me what version of TypeScript you're using and paste your `tsconfig.json`? That would make it easier to replicate your issue.

[2018-08-27 21:10] pluma commented on #567
FYI, I tested the following:
[code]
and it doesn't result in any errors. I also don't see any errors doing the same with typescript@2.

[2018-08-27 21:39] pluma commented on #567
Okay, looks like the best practice is hidden in this guide: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html ... and it's to add the typing as an explicit dependency.

So I guess this is a bug after all.

[2018-08-27 21:41] #567 closed

[2018-08-27 21:45] pluma commented on #567
The fix for the missing `@types/node` dependency will be released with the other changes once ArangoDB 3.4RC1 is API stable (hopefully later this week).

If you can provide a way to reproduce the error concerning `Blob`, that would help diagnosing that issue. But since it's not reproducible with the default configuration generated by `tsc --init` nor the one generated by `create-react-app --script

[2018-08-27 22:16] pluma commented on #567
@sshillyer I had to rewrite history a bit but the fix is now released as 6.6.0 on npm along with the changes to `collection.import`.

[2018-09-05 15:18] #481 closed

[2018-09-05 15:30] pluma commented on #481
This has been implemented and will be part of the next release.

This means the following (adapted from @JonDum's example) will be possible:

[code]

Note that this correctly merges the bindVars `aql` generates from the variables.

[2018-09-05 16:04] Nainterceptor commented on #481
Thank you, @pluma ! 🎊

[2018-09-05 18:15] JonDum commented on #481
That's awesome! You rock @pluma!

[2018-09-17 09:43] AntoineAA opened #572 "Add a way to cancel a query after a while (timeout option)"
In our production environment, we want to prevent requests that are too long to run indefinitely. A timeout option would be very useful for stopping the execution of these queries. Since there is no option on ArangoDB, we have to cancel the query manually from aardvark.

Do you think it would be possible to add a timeout option, at query level, that would do this automatically?

Best,

Antoine

[2018-09-19 00:50] toymachiner62 opened #573 "Sporadic cursor not found error (1600 error code)"
I have a troublesome issue where i'm sporadicly getting the dreaded `cursor not found` error. What i've tracked down is that it only seems to happen on queries that return more than 1K records.

Here's the error i'm getting:
[code]

Here's the relevant code which sporadically causes this error:

[code]

I'm using arangojs version 6.6.0

[2018-09-19 10:39] pluma commented on #572
This sounds like something that would need to be implemented in ArangoDB itself. Currently the API only provides a ttl (which is only relevant for the results after the query has executed):
https://docs.arangodb.com/3.3/HTTP/AqlQueryCursor/AccessingCursors.html

Implementing the API for managing queries would help by making it possible to cancel these queries using arangojs but I see no way to eas

[2018-09-19 10:39] pluma commented on #572
See also https://github.com/arangodb/arangojs/issues/474

[2018-10-01 08:36] AntoineAA commented on #572
Hi @pluma,
Thanks for your reply!

[2018-10-01 13:09] AntoineAA commented on #572
We already opened this: https://github.com/arangodb/arangodb/issues/6146

[2018-10-02 17:33] toymachiner62 commented on #573
Anything on this?

[2018-10-02 17:48] jsteemann commented on #573
Sorry, I am not 100% sure about your actual setup still.
The files in https://github.com/arangodb/arangojs/issues/573#issuecomment-424450014 use an ArangoDB version 3.1, which is relatively old.
With that version it is still possible to get intermittent "cursor not found" issue when multiple coordinators are in use and client application requests are sent to any coordinator in a round-robin fashio

[2018-10-02 18:19] toymachiner62 commented on #573
Looks like our Dockerfile is using `FROM arangodb:3.3.13 AS base`.

I'll try updating that and see if it helps

[2018-10-02 18:31] jsteemann commented on #573
Ok thanks. With 3.3.14 I wouldn't expect this to happen, except if the cursor has timed out meanwhile.
By default, cursors have a timeout of 30 seconds. If something in the client application takes more time than 30 seconds between originally "ordering" a cursor and making a follow-up request to fetch more data from the cursor, then the issue may also occur.
But I was originally assuming this is n

[2018-10-02 20:54] toymachiner62 commented on #573
Your assumption is correct. From start to fail is subsecond.

Tom Caflisch
507.202.0087
TomCaflisch@gmail.com

On Tue, Oct 2, 2018 at 11:31 AM Jan <notifications@github.com> wrote:

[2018-10-05 15:19] alewarOS commented on #481
Is there an ETA for the next release? And will the aql template present in transactions will also work like this?

[2018-10-05 23:46] natejgardner opened #575 "Support for complex bind parameters in template strings"
[code]

Results in the following error:
[code]

It seems that simple types are allowed as bind parameters, but I can't easily pass in a serializable object or json. If I pass in json, it takes it as a string.

However, when I use bind parameters explicitly:

[code]

everything works as expected.

I would prefer to be able to use template string syntax for everything rather than only for simple typ

[2018-10-08 12:58] matthieualouis opened #576 "Missing `loadIndexesIntoMemory` API"
Hello,

I recently came across the `loadIndexesIntoMemory` endpoint in Arango's collection HTTP API ([link to docs](https://docs.arangodb.com/3.3/HTTP/Collection/Modifying.html#load-indexes-into-memory), and noticed that it is missing in the `arangojs` driver.

Are there any plans to add this method? In the meanwhile, I'll be hitting up the ArangoDB HTTP API directly.

Thanks,

Matt

[2018-10-08 21:19] gcallaghan commented on #573
Upgraded to 3.3.15 but still have the same issue

[code]

Currently running Arango on Kubernetes as a stateful set

[code]

[2018-10-09 14:06] pluma commented on #575
You're right, the type is currently too strict. It should probably accept whatever `JSON.stringify` accepts, which I'm guessing is `any`. I'm currently on vacation so I can't push a fix but in the meantime you can work around this by passing the template argument `as any` to avoid the type check.

[2018-10-10 07:21] jsteemann commented on #573
ArangoDB PR 6765 has been merged back into the stable and development branches, and will be released as part of 3.3.18.

[2018-10-10 10:31] Simran-B commented on #576
The driver supports additional APIs that are not covered directly, see [Route API](https://docs.arangodb.com/3.4/Drivers/JS/Reference/Route.html):

[code]

[2018-10-18 08:36] pluma commented on #576
This would be relatively easy to add to the collection API I think.

[2018-10-18 08:39] pluma commented on #572
I'm closing this since an issue on the ArangoDB repo exists for this and there's nothing else we can do in arangojs in the meantime. Feel free to reopen when the option is supported by ArangoDB.

[2018-10-18 08:39] #572 closed

[2018-10-18 08:47] pluma commented on #573
Cursors in arangojs are already "sticky" when arangojs is configured to use multiple servers. If I understand the discussion correctly, there's nothing actionable on the arangojs side and a fix in ArangoDB is in process, so I'm closing this for now. Feel free to reopen if you think the issue has been closed incorrectly.

[2018-10-18 08:50] pluma commented on #575
I'll be back in office on Monday and sort this out. Simplifying the type of AqlValue to include any should be sufficient but I'm not sure how that interacts with the type suggestions so I'll have to thoroughly test this first.

[2018-10-18 11:51] AntoineAA commented on #572
@pluma OK, thanks!

[2018-10-22 09:05] pluma commented on #481
@alewarOS Transactions are executed on the server, so the ArangoDB version needs to support this as well. As far as I'm aware this feature isn't being backported to 3.3, so you need to use 3.4 or later. If you're using v3.4.0-rc2 or later, you can already give it a try. For production I recommend waiting for the regular release of 3.4.0.

I'm back from vacation and will work on dirty reads support

[2018-10-22 16:04] pluma commented on #575
@natejgardner I can't reproduce this problem. Can you give me an example type definition that causes this?

[2018-10-22 16:15] pluma commented on #575
@natejgardner I've added a test case for this issue which doesn't seem to cause any problems. Normally the aql template should accept anything that derives from object so I'm not sure what data type you're using.

[2018-10-25 18:40] toymachiner62 commented on #573
@jsteemann I see on dockerhub https://hub.docker.com/r/arangodb/arangodb/tags/ that 3.3.18 was skipped. Is it safe to assume that 3.3.19 contains this fix?

[2018-10-25 21:32] jsteemann commented on #573
@toymachiner62 : yes, 3.3.18 was skipped for some internal reasons. 3.3.19 contains everything that was supposed to be released with 3.3.18 plus more bugfixes. So yes, 3.3.19 contains the fix.

[2018-10-25 21:52] toymachiner62 commented on #573
Well we upgraded to 3.3.19 and now we no longer get a cursor not found error, but we now get this error

[code]

[2018-10-25 23:02] jsteemann commented on #573
Is this reproducible?
And are these errors returned instantly when running a query or is there a delay before these messages come in?
Does this happen for every query, or just some?

[2018-10-26 01:03] toymachiner62 commented on #573
Long deloy. Requests eventually timeout. Happens on every query.

We tinkered with version 3.3.15 - 3.3.19. Seems this new issue was introduced in 3.3.16.

[2018-10-30 21:29] sshillyer opened #577 "Typing errors: Cannot find name 'Blob'"
I have created a minimal example project that recreates my problem:
https://github.com/sshillyer/arangojs-min-error

It involves only a couple of lines of code and only typescript and arangojs modules. I tried using @types/node in the example as well but also has the problems aforementioned.

Open to ideas! Thanks

_Originally posted by @sshillyer in https://github.com/arangodb/arangojs/issue_comm

[2018-10-30 21:36] sshillyer commented on #577
I'm sorry, I just realized for some reason you must include "dom" in tsconfig.json 'lib' array to get this type. Found answer elsewhere.

Closing.

[2018-10-30 21:36] #577 closed

[2018-10-31 13:11] pluma commented on #577
The library is meant to be useful both in the browser and in Node. The browser APIs use `Blob` instead of `Buffer` (which is Node's non-standard equivalent). Sadly this means in order to support both, arangojs needs to deal with both types.

I'm trying to find out a better way to do this but for the time being this means that even if your project doesn't use any DOM APIs you need to add `dom` to y

[2018-11-02 13:10] pluma commented on #567
Make sure to add `dom` to the `lib` section in your `tsconfig.json`. See https://github.com/arangodb/arangojs/issues/577 for additional details.

I'll add a sentence about that to the README to help other users in the future.

[2018-11-02 13:16] pluma commented on #567
Done: https://github.com/arangodb/arangojs/blob/master/README.md#common-issues

[2018-11-05 09:59] pluma commented on #575
@natejgardner I can't reproduce this problem, so I'm closing the issue for now. I have no idea what might cause your type not to match the [rather broad list in the code](https://github.com/arangodb/arangojs/blob/v6.7.0/src/aql-query.ts#L16) considering even an `Array` usually at least matches `object`.

If you can provide an example type that breaks or can point out what's wrong with the test cas

[2018-11-05 16:55] pluma commented on #405
Node seems to have the same behavior for unix sockets as for TCP sockets, so it seems keep-alive works just the same.

[2018-11-05 16:59] pluma commented on #405
Currently some of the Foxx tests are failing because of how the test fixtures reflect their externally visible URL. Hopefully that should be relatively straightforward to resolve.

[2018-11-06 02:56] natejgardner commented on #575
@pluma Apologies for not responding. I just saw these! Any types a developer has defined will cause this issue.

For example:

[code]

[code]

will reproduce the issue.

[2018-11-07 10:14] pluma commented on #575
@natejgardner can you clarify which version of TypeScript and which version of arangojs you're using? I've added a variant of the test case that uses a class instead of an interface and it doesn't show the problem.

However your example causes an error for me in the type definition of `MyClass` (because `someData` lacks an initialiser). I'm not sure if this indicates a difference in the tsconfig o

[2018-11-07 10:15] pluma commented on #575
@natejgardner also knowing your tsconfig might probably help.

[2018-11-07 11:32] #405 closed

[2018-11-07 11:52] pluma commented on #575
@natejgardner please give v6.8.0 a try and see if that solves your problem.

[2018-11-10 03:49] rgstephens opened #579 "Can't find module on AWS Lambda"
I'm trying to use ArangoJS on Lambda with TypeScript. It runs fine locally with node but when I deploy and run on Lambda it can't find arango.  I've confirmed that arangojs is in node_modules.

[code]

I've reduced it to a short example:

[code]

[2018-11-11 05:10] rgstephens commented on #579
This was an issue with the [aws-lambda-typescript](https://github.com/stevejhiggs/aws-lambda-typescript/issues/11) package. I've switched to Typescript with Serverless and not had a problem.

[2018-11-11 05:10] #579 closed

[2018-11-14 09:52] jsteemann commented on #573
I have no idea why @pluma closed this issue. I have doubt it is resolved already, at least we haven't got feedback it has been resolved.
@toymachiner62 : Did the last suggestion from @lamai93 help in any way?

[2018-11-25 18:39] deividasjackus opened #581 "Collection.list() result limit is not configurable"
The current [collection.list()](https://github.com/arangodb/arangojs/blob/master/docs/Drivers/JS/Reference/Collection/DocumentManipulation.md#collectionlist) API seems to only return the first 1000 references with no option to specify a custom limit.

[2018-11-28 22:08] Simran-B commented on #581
The HTTP endpoint is `PUT /_api/simple/all-keys`. All `/_api/simple` routes will be considered as deprecated from 3.4.0 on, which would include this particular route, but I don't know what our recommendation is to replace the call with (`/_api/cursor` with different AQL queries to emulate the _type_ option?).

[2018-11-29 00:03] pluma commented on #581
@Simran-B that endpoint wasn't deprecated in the latest docs build unlike the other simple queries. It's also not on the simple queries page, which might mean it was overlooked.

Can you please make sure someone takes a close look at the HTTP API docs before 3.4.0 goes out the door? Currently that documentation is the authoritative reference for driver maintainers and that means it's vital that it

[2018-11-29 07:03] Simran-B commented on #581
It was overlooked as far as I can tell. All `/_api/simple` routes are supposed to be deprecated from v3.4.0 on, which includes `/all-keys`. I need to check if this is really intentional, but I guess so. An equivalent AQL query to the `/_api/cursor` endpoint seems superior anyway, but for the time being I guess we can leave it as it is in drivers.

If it is really limited to the first 1000 document

[2018-12-01 18:48] OzqurYalcin opened #582 "regexp support in nodejs"
[code]
search1 functions worked fine, but search2 failed.
i think, arrangodb must support regex search as in search2 function.

[2018-12-03 10:05] Simran-B commented on #582
`byExample()` maps to the endpoint `PUT /_api/simple/by-example`. This belongs to the [HTTP interface for Simple Queries](https://docs.arangodb.com/3.4/HTTP/SimpleQuery/). All `/_api/simple` routes are deprecated from 3.4.0 on. Simple Queries in the JS API were [deprecated](https://docs.arangodb.com/3.4/Manual/Appendix/Deprecated/) in 3.0 already. Support for regular expressions in the by-example

[2018-12-03 11:58] pluma commented on #572
@Puneeth-Kadamba Please check the issue on the ArangoDB repo linked above.

[2018-12-03 12:01] pluma commented on #582
In order to support regular expressions for example queries, those queries would need to support regular expressions on the ArangoDB side. As the simple queries are no longer being developed and will be removed in a future version of ArangoDB, I don't see anything actionable here.

[2018-12-03 12:01] #582 closed

[2018-12-03 12:04] pluma commented on #575
@natejgardner I've been unable to reproduce this problem and have no further information that would help reproducing the errors you've seen. Please keep in mind that arangojs tracks the latest version of TypeScript so this may be a problem caused by using an older version of `tsc` (e.g. 2.x). I'm closing this issue for now. Please feel free to reopen this issue if you can provide the information I

[2018-12-03 12:04] #575 closed

[2018-12-04 11:56] neunhoef opened #584 "Feature request: Support VelocyPack in arangojs"
It would be good to be able to use VelocyPack in JavaScript. Some sort of support library would have to be created as well.

[2018-12-04 17:01] MisaZ10 commented on #215
Now exists orango but is alpha
Inspired by Mongoose
https://github.com/roboncode/orango

[2018-12-04 19:42] Yogu opened #585 "Suppor for custom createRequest function"
I'd like to instrument createRequest for profiling to find out how long a request has been queued and how long it took to send, wait, receive etc.

Currently, this is very brittle and cumbersome as it's buried in the Connection class which can not easily be extended or changed.

This would also enable more use cases like custom proxies etc, logging, etc. In general, it would be nice to be able to

[2018-12-04 21:04] Yogu commented on #585
Ah I see, you can pass a custom `agent`. But still, some kind of context object is still needed so that the request made to the agent can be traced back to a method call in one of the wrapper classes, like Database.transaction.

[2018-12-06 10:42] Simran-B commented on #541
Added a link to this issue in an internal planning ticket:
"Docs: Distinguish clearer between ArangoJS and arangodb module"

[2018-12-06 19:21] pluma commented on #584
If we want to pursue the path of native bindings, I think we should revive the Node.js VelocyStream implementation, i.e. a vst library that arangojs can build on. If we just want to support the VelocyPack format in JS I could implement it in JS myself, but that would overall be slower than just using JSON.

Whoever implements the VelocyStream library needs a strong grasp of C++, V8 and gyp (or wha

[2018-12-06 21:39] Simran-B commented on #584
It wouldn't work in browsers, would it?

If we want to target both Node and browsers, then e.g. Rust -> WebAssembly could be interesting. It might end up being a lot slower though, because of JS <-> WASM. Maybe check again in a year or so.

[2018-12-10 14:16] pluma commented on #566
After some experimenting it seems this can easily be done using the `rejectUnauthorized: false` agent option. The Node documentation doesn't mention that this option exists for agents, but it seems to work just fine.

However note that this is extremely insecure. It's better to use a proper self-signed certificate.

[2018-12-10 14:16] #566 closed

[2018-12-10 18:12] darlenya opened #587 "Help understanding the route api"
The documentation of the route API says I can use it to execute API calls not yet implemented in the driver directly. But I was not able to make it work. For example I would like to execute this HTTP API call:

[code]

I have created this js code
[code]

This results in an API call:
[code]

[2018-12-10 18:24] pluma commented on #587
@darlenya keep in mind that `/_api` is just a shorthand for `/_db/_system/_api` so you're almost on track.

The full URL you want is `/_db/_system/_api/user`, just set the path to `/_api/user` and you should be fine.

[2018-12-10 18:30] darlenya commented on #587
it works!

Thanks a lot!

[2018-12-10 18:43] #587 closed

[2018-12-19 10:26] santo74 opened #588 "keepNull not supported (anymore) for aql update queries?"
I need to update documents via an AQL query while removing / ignoring attributes with a null value.
To achieve this, I'm specifying "keepNull: false" as an option, but attributes with null values are still inserted in the document.
This did work in the past (with an old project about a year ago).

Simplified example:
[code]

[2018-12-19 11:03] Simran-B commented on #588
The [documentation of `database.query()`](https://docs.arangodb.com/3.4/Drivers/JS/Reference/Database/Queries.html#databasequery) refers to [Setting Options](https://docs.arangodb.com/3.4/AQL/Invocation/WithArangosh.html#setting-options) for a list of supported options, which does not mention `keepNull` at all.

I think what you want is `OPTIONS { keepNull: false }` in the AQL query itself:

[code

[2018-12-19 12:36] santo74 commented on #588
Actually I already tried that but it returned an "AQL: syntax error" so I thought it was not the right solution.
But after your suggestion to try it that way I tried again and after some more digging I found there was a LIMIT statement in my update query, which isn't compatible with the OPTIONS attribute.
Removing the LIMIT (which isn't necessary here) solved it.

Thanks for your help!

[2018-12-19 12:36] #588 closed

[2018-12-19 16:21] Simran-B commented on #588
You can use LIMIT together with OPTIONS, but remember that OPTIONS belongs to the UPDATE operation. So you must not place a LIMIT anywhere between UPDATE ... WITH ... IN ... OPTIONS, but before or after this operation.

[2018-12-19 16:36] santo74 commented on #588
Ok, thanks for the clarification.

[2018-12-20 16:55] pluma commented on #581
@Simran-B in order to fetch more the result would need to return a cursor ID, which it apparently doesn't.

[2018-12-20 16:59] pluma commented on #581
FYI this endpoint doesn't even guarantee a consistent order:

The result doesn't include any information suggesting there's a way to fetch the remaining result. The HTTP docs also don't indicate where the limit comes from or how it could be modified. I don't see anything directly actionable here.

[2018-12-20 16:59] #581 closed

[2018-12-21 16:12] #474 closed

[2019-01-07 00:14] Mangatt opened #591 "Collection name / ID generator"
I think it would be useful to officially expose collection name and id generator on collection object:

[code]
This is right now undocumented feature and thus not realiable for use in production. It is useful for generating ID from _key:

[code]
Maybe it would be worth to even include specialized method for this:
[code]

[2019-01-16 14:48] indianscout opened #593 "Grant user permisson"
In arangosh user permission can be granted as described here: https://docs.arangodb.com/3.4/Manual/Administration/ManagingUsers/InArangosh.html#grant-database

Is there a possibility to do it directly with arangojs?

[2019-01-23 13:31] iraycd opened #594 "Error: socket hang up"
[code]

[2019-01-23 14:36] pluma commented on #591
I'm not quite sure what you mean by "not reliable for use in production"? Do you mean that the `name` property isn't mentioned in the arangojs documentation? If so, that's an oversight.

[2019-01-23 14:39] iraycd commented on #594
Latest docker

https://github.com/arangodb/arangodb-docker/blob/c98889cf79d8cdeaf56cdedb0c8748ca434f1094/alpine/3.4.1/Dockerfile

First observed it while creating and dropping multiple databases at time.

But, not I see it happening for many queries.

[2019-01-23 15:04] Mangatt commented on #591
Yes, that's what I ment. Thanks

[2019-01-24 05:54] iraycd commented on #594
https://github.com/request/request/issues/2047
https://github.com/firebase/firebase-tools/pull/1096/files

[code]

I guess this might help. Thank you.

[2019-01-24 16:47] pluma commented on #594
That seems unlikely unless something changed in Node. Arangojs already uses keep-alive by default. I'd have to investigate this. Can you check a more recent version of Node than LTS? An unhandled rejection should cause an uncaught error in newer versions, so this would not only log the warning but actually kill the container.

Sadly the stack trace doesn't really provide a lot of information. You

[2019-01-30 06:38] iraycd commented on #594
Sorry, I am not sure how to do it JEST, I am using JEST for testing.
I don't know how to exactly how to get it a better stack trace. I have tried.

https://github.com/facebook/jest/issues/5104

I am using https://github.com/roboncode/orango/ to connect and disconnect.

I would suggest you on closing the issue until me/someone comes up with a stack-trace, thank you.

[2019-01-30 06:38] #594 closed

[2019-02-06 16:04] bzkdjc commented on #535
I'm using **arangojs 6.10.0**, and still I'm having that same error.

![image](https://user-images.githubusercontent.com/13347655/52354170-dc528f00-2a27-11e9-9938-f157a2456542.png)

![image](https://user-images.githubusercontent.com/13347655/52354678-c4c7d600-2a28-11e9-9ac5-7af35a7660d3.png)

[2019-02-06 16:23] bzkdjc commented on #535
Checked!
Due to **spaces within alphanumeric** value passed to `documentExists()`.

So,
If EcmaScript/Javascript permits spaces in keys, if JSON also allows it _(as it does not throws)_, then why **arangojs** hangs on that?

[2019-02-06 18:24] pluma commented on #535
@bzkdjc Currently `documentExists` with a malformed key fails if that key is not a valid character in an URL path. I've created a PR that should prevent that exception from causing an unhandled rejection.

I'm currently working on the Collection API for the next semver major release. We should probably escape keys in the future to avoid this kind of error (and get an `ArangoError` instead).

[2019-02-07 09:37] Simran-B commented on #535
Whitespace is not allowed in document keys, see:
https://docs.arangodb.com/3.4/Manual/DataModeling/NamingConventions/DocumentKeys.html

[2019-02-09 16:28] rogierschouten opened #598 "Please export GeneratedAqlQuery type"
Hi,

I'm trying to write a function that returns a generated AQL query, but I cannot type the return value very well ATM:

[code]
Should I be using a different return type? Or should this type be exported?

[2019-02-13 14:10] pluma commented on #581
Turns out the endpoint returns a cursor, the ID is just not set unless the result is incomplete.

The new major release will return a cursor from this method instead of simply an array of documents but it will also mark all simple query methods as deprecated for ArangoDB 3.4 and drop support for ArangoDB 2.8.

[2019-02-13 14:12] pluma commented on #598
You can use `ReturnType<typeof aql>` in the meantime.

[2019-02-15 21:07] a-r-d opened #599 "Stack trace is not useful because of queue system loses context"
I saw another person raise [this issue](https://github.com/arangodb/arangojs/issues/524) but it was closed, so I am going to try to explain this a bit differently.

The file `connection.ts` uses a Queue system and when an error is thrown (e.g. [here](https://github.com/arangodb/arangojs/blob/master/src/connection.ts#L350)), the original context of the stack trace is lost. This makes not useful for

[2019-02-18 17:33] pluma commented on #599
That's a general problem with async errors in Node. It looks like Node 12 will bring a new `--async-stack-traces` option that improves this significantly: http://thecodebarbarian.com/async-stack-traces-in-node-js-12.html

[2019-03-20 09:44] x3cion opened #601 "Memory leak in node-linkedlist"
Hey there,

I created a pull request ( https://github.com/kilianc/node-linkedlist/pull/7 ) for node-linkedlist quite some time ago, but it's not accepted yet and it seems the project is not very active.

The package has a memory leak that I found because I'm using arangojs. On shift(), the reference to the old head is not removed, thus keeping all old heads as long as there's pressure on the queue

[2019-03-20 13:18] pluma commented on #601
Thanks. The project hasn't been touched in years and uses some outdated APIs. I think I'll inline it and apply the changes.

[2019-03-21 21:12] lostpebble opened #602 "Can save documents with JavaScript Date objects but they come back serialised"
For example, if I save an object like this to my collection:

[code]

I'm passing in real JavaScript Date objects for `startDate` and `endDate`.

When I query on this collection later, I'm getting an object returned with the Date objects still serialised from the database:

[code]

Is there no way for us to get the real Date objects back from the query?

How I'd usually do it with `JSON.parse()` w

[2019-03-22 11:46] Simran-B commented on #602
JSON doesn't support Date objects, but JSON is used in transport by ArangoDB and AQL also supports just the data types known from JSON. Therefore, your options are ISO 8601 date strings or numbers (milliseconds since Januar 1st, 1970). Also see: https://docs.arangodb.com/3.4/AQL/Functions/Date.html

Note that ArangoDB stores data in a different way internally, and is also capable of storing non-JS

[2019-03-22 12:21] lostpebble commented on #602
Thanks for the response. I assumed as much.

I guess the schema-less nature of it all also limits any kind of automatic conversion by ArangoJS when receiving documents.

I've read up on velocypack before and saw it was capable of storing information about Dates as well - so that's why I thought that maybe the library could infer this information too. As mentioned in the docs:

Its a slight annoyan

[2019-03-22 14:17] Simran-B commented on #602
With JSON you essentially send one big string over the wire and need to parse it to e.g. an object in JavaScript on the client side to work with it. The benefit is that JSON is a standard format for which there are parsers available in almost every programming language. The downside is that you can only represent a few basic data types. What can also be a problem is that JSON allows arbitrary long

[2019-04-04 15:49] x3cion opened #603 "async collection.list() not using arraycursor"
See https://github.com/arangodb/arangojs/blob/master/src/collection.ts#L399

I'm pretty sure the list() function should be using an array cursor. Since the underlying endpoint is deprecated, I guess this is a good reason to implement it as an AQL.

I'm sorry I can't PR this, I currently have no time to help.

[2019-04-11 17:49] nathanvogel commented on #591
I also lost a bit of time because handling IDs in AQL string templates isn't super well documented (when to put quotes for example) and I found myself having to write this for a graph traversal:
[code]
which feels a bit clunky (but only because ArangoDB is so sleek otherwise).
I guess I could also do the concatenation outside the AQL query.

[2019-04-15 20:55] Simran-B commented on #591
Related: https://github.com/arangodb/arangodb/pull/8749

[2019-04-16 09:36] pluma commented on #591
ArangoDB 3.5 will add a method `documentId(documentKey: string): string` to collection objects which will behave like the `getID` method you envisioned. We'll add a similar method in arangojs in an upcoming release.

[2019-04-27 10:57] breakbild commented on #601
Looks like only Array like methods (push/shift/length) are used on _queue. As a quick fix I replaced this._queue = new LinkedList(); with this._queue = []; in class Connection (connection.js).

[2019-04-29 08:35] pluma commented on #601
@breakbild the problem is that unintuitive as it may seem, LinkedList is significantly faster than native array operations. I tried replacing it but the slowdown was noticeable when performing a large number of queries at the same time.

[2019-04-29 08:36] pluma commented on #603
This will be addressed in the next major release:

https://github.com/arangodb/arangojs/blob/feature/next-major/src/collection.ts#L1176

[2019-05-11 21:49] santo74 opened #605 "hanging requests"
When I start my node.js application in production everything runs fine, but after some time (several hours) I'm starting to get 504 timeouts in the frontend (browser). The 504's are becoming more frequent over time until the whole application is so unstable I have to restart it. (at least once a day).
Obviously a lot of code is involved here (proxies, webservers, etc) but after debugging for more

[2019-05-22 10:45] neumann-d opened #607 "documentCollection.documentExists checks the whole database instead the specific collection"
When checking if a document exists in a collection, I use the function `documentCollection.documentExists`. For example:

[code]

But instead of looking only in the specific "City" collection, it finds documents from other collections (like "Country") too.

ArangoJS version: 6.10.0

[2019-07-01 03:04] Mangatt opened #610 "VertexCollection update opts"
Hi, docs says that GraphVertexCollection extends Collection API, but vertex update is not able to receive opts object as normal update. Same is true for save method, but this is actually documented.

I think that it should be possible to set opts even for graph methods, it would be quite useful.

[2019-07-08 03:04] nkanand4 opened #612 "Response takes longer time when using arangojs driver."
ArangoJS Version: Tested on both 6.9.0 and 5.6.1
I have a query that takes longer, 4 seconds to 9 seconds, to return when using js driver but works swiftly on UI interface.
<img width="1432" alt="Screen_Shot_2019-07-07_at_9 55 05_PM" src="https://user-images.githubusercontent.com/667996/60780070-9d258880-a102-11e9-87c8-bc889e5b92de.png">

When using web interface, the same query takes hardly 2 ms.

[2019-07-08 12:28] pluma commented on #612
Note that the web UI is showing the time it took ArangoDB to execute the query whereas your code likely measures a lot of overhead (i.e. everything that happens between the function call and the promise resolving).

Some overhead is expected but 4 seconds seems a bit much. Is ArangoDB running locally? If not, there might be some network overhead involved. It looks also like your code is running wi

[2019-07-08 12:42] nkanand4 commented on #612
Yup, it's running locally. It was running fine when we had lesser records than 100. Then to scale test, I kept running tests and after 1500 rows, I am getting slow responses. Instrumentation is added only to show the slowness right before db.query using console.time and console.timeEnd before any processing of data happens. Basically, I am profiling only db.query.

[2019-07-08 12:54] pluma commented on #612
Can you show the code with the db.query? Are you just `await`ing for the cursor it returns or consuming it (e.g. fetching all results)?

[2019-07-08 13:03] nkanand4 commented on #612
<img width="604" alt="Screen Shot 2019-07-08 at 8 02 53 AM" src="https://user-images.githubusercontent.com/667996/60812331-da1b6a80-a156-11e9-8463-24a6c5bec549.png">

[2019-07-08 13:34] pluma commented on #612
Okay, that IS weird.

Are you confident there isn't anything else using arangojs at the same time in your code? The only thing I can think of that would explain a 9 second latency would be a delay from other requests having already filled up the request queue.

I think the web UI by default limits the response to the first 1000 rows (there's a dropdown in the top right in your screenshot). Maybe t

[2019-07-08 14:09] nkanand4 commented on #612
Yup, I had made sure and isolated it to only 1 xhr before creating this issue.

<img width="1440" alt="Screen Shot 2019-07-08 at 9 06 59 AM" src="https://user-images.githubusercontent.com/667996/60816718-ea841300-a15f-11e9-89f4-7aea0803e21d.png">

[2019-07-08 14:22] pluma commented on #612
In that case I'm convinced your query simply doesn't scale well and you're seeing faster responses in the web UI because you just never fetch more than 1000 results (because of the dropdown that limits the result set). The web UI should show similar slowdowns if you bump up the result size.

[2019-07-08 14:39] nkanand4 commented on #612
Bumped up the numbers to 10k on web UI, still performing good.
<img width="1288" alt="Screen Shot 2019-07-08 at 9 38 58 AM" src="https://user-images.githubusercontent.com/667996/60818993-523c5d00-a164-11e9-87ce-627da0a22536.png">

[2019-07-08 14:53] pluma commented on #612
Oof. That's odd. The only other thing I can think of would be that arangojs parses the JSON response whereas the web UI just dumps it as a string into the JSON editor (AFAIK). Depending on the size of the response this might have an impact.

That said, the network monitor screenshot also shows a 4 second response time. Is that related? Also, what's the _actual_ response time for the web UI? The mi

[2019-07-12 04:25] nkanand4 commented on #612
Well, today I made request using curl and noticed that even that takes 4 seconds.
<img width="1289" alt="Screen Shot 2019-07-11 at 11 23 42 PM" src="https://user-images.githubusercontent.com/667996/61102333-0410ad80-a433-11e9-9523-96a971ecce8b.png">

However, this contains some information about stats. Can someone guide me what causing the slowness?

[2019-07-12 04:31] nkanand4 commented on #612
Issue isolated to not being ArangoJS driver, hence closing it here. Will take it up in ArangoDB issue list. Thanks for all the help @pluma.

[2019-07-12 04:31] #612 closed

[2019-07-21 20:04] captain-refactor opened #613 "3xx http codes should be treated as errors"
I found out, that during saving documents, the documents weren't saved, even no error was thrown.
# Infrastructure:
Arango database is hosted behind the nginx load balancer. Nginx issues certificates and forces https by redirection.
## Current behavior:
When arangojs receives 308 response, it doesn't throw an error, even the request hasn't been fulfilled. This behavior is really dangerous because

[2019-07-23 14:20] pluma commented on #613
Shouldn't it actually follow the redirects?

[2019-08-04 13:29] captain-refactor commented on #613
It should, but the error is better than nothing and it is easier to implement. The use case that someone wants to redirect database requests is improbable.

[2019-08-04 13:31] captain-refactor commented on #613
So it should be implemented, or it should throw an error that it isn't supported.

[2019-08-06 15:28] pluma commented on #613
This depends. When a Foxx service responds with a redirect, that would likely not be an error but entirely expected. Throwing an error in that case by default would be bad.

In your case the proxy sending a redirect also isn't strictly an error and the expected behavior would probably be to follow that redirect in that case.

The correct approach IMO would be to add an option `maxRedirects`  like

[2019-08-06 16:41] pluma commented on #607
This was originally intentional but I agree that it's confusing. This also affects other methods that accept IDs instead of keys. I think the most straightforward way would be to remove this special handling so these methods only take keys and provide `db.document` and `db.documentExists` as variants that only take IDs. This would be a breaking change.

[2019-08-06 16:45] pluma commented on #573
@toymachiner62 Can you indicate whether the problem still exists? There has been no activity since last November, so I'm assuming this is either no longer reproducible or has been sufficiently addressed.

[2019-08-06 16:52] pluma commented on #602
I'm closing this issue because it looks like your question has been answered. If you need any additional help on this issue, feel free to reopen it.

[2019-08-07 17:02] toymachiner62 commented on #573
Not sure if it's addressed or not. I no longer work for the same company so I'm not using arango these days.

What we did was go from a clustered Arango to a single instance to get around this issue since it was a serious blocker for us and that solved the issue at hand. I believe the company has actually moved off of Arango due to some of these issues.

[2019-08-08 14:28] pluma commented on #573
I'm sorry to hear that.

I don't see anything actionable in this issue at this point without a way to reproduce this, so I'm closing this issue now.

If someone comes across a similar problem, please open a new issue on the ArangoDB repo.

[2019-08-08 14:28] #573 closed

[2019-08-09 12:24] Arun-KumarH opened #619 "VertexCollection cannot save an array of documents"
The graphVertexCollection does not allow to store an array of documents (This was working earlier in DBv3.3.14 but not in DBv3.4.7).

https://github.com/arangodb/arangojs/blob/master/src/test/19-graph-vertex-collections.ts#L59

Changing  `const data = { foo: "bar" };` to an array `const data=[{foo:"bar"}]` spits out below error.
Should this be reported to ArangoDB or an issue with driver ?

[code]

[2019-08-19 09:45] maku opened #620 "better type information (typescript)"
Although arangojs is written in typescript the type information is not really super strong.

e.g. when working with collections (super class BaseCollection) there are several methods which return  type "Promise<any>".  (and so on...)

Would it be possible to provide better type information?

[2019-08-26 10:32] mfusser opened #621 "Creating an arangoSearchView does not set the properties"
Hi,
I am having a problem when creating ArangoSearch-Views via arangojs.
When I provide an "ArangoSearchViewPropertiesOptions" object it gets ignored and no properties get set.
If i use the setProperties command afterwards with the same "ArangoSearchViewPropertiesOptions" object i can set the properties without any problems.

The problem with this though is that the "primarySort" property that was

[2019-08-26 10:58] mfusser commented on #621
I just checked the Source Code, and I am not 100% sure but maybe the following code in "src/view.ts"
[code]
should be
[code]
so it matches the specification (https://www.arangodb.com/docs/stable/http/views-arangosearch.html)

[2019-08-26 12:23] pluma commented on #620
One of the primary goal for the next major release (7.0) will be improved typings.

Sadly this is fairly tedious and requires a lot of manual verification because the HTTP API docs are sometimes a bit ambiguous.

[2019-08-26 12:25] pluma commented on #621
Weird. I guess this may have been the result of a change between an early development version of the Views API and the final GA. I'm fairly certain we did test for this at some point and it worked at the time.

Thanks for reporting. This looks like a bug.

[2019-08-26 12:27] pluma commented on #619
This should probably not result in a VPack error that includes a file path.

Looks like an ArangoDB bug to me. Can you please open an issue on the main ArangoDB repo for this? https://github.com/arangodb/arangodb/issues/new

This should either still work or result in a less exotic error.

[2019-08-26 15:36] maku commented on #620
@pluma glad to here that. Is there something like a roadmap for arangojs?

[2019-08-26 15:42] pluma commented on #620
No but if it's any consolation arangojs 7 is exactly what I'm currently working on.

[2019-08-26 15:53] maku commented on #620
Great, thank you

[2019-08-27 10:30] Simran-B commented on #621
The ArangoSearch docs were wrong in multiple places about this. It looked like an object with an attribute `properties` would be required. There are still error messages implying the same. I corrected the docs for v3.5.0: https://www.arangodb.com/docs/stable/arangosearch-views.html#view-definitionmodification

[2019-08-27 12:44] #621 closed

[2019-08-27 12:48] #602 closed

[2019-08-29 10:45] mfusser commented on #621
Thanks for the fix. Will there be a release including this soon? Without this fix we cannot use primarySort as it can only be set during view-creation.

[2019-08-30 06:59] ravihara opened #623 "TTL index methods in collection indexes"
Hi, I'm unable to find method to create ttl-index for a given collection. Since, this feature is available from 3.5.0 of ArangoDB, I would like to know when we can expect it to be available as part of arangojs. Thanks.

[2019-08-30 15:50] pluma commented on #621
There's a new bugfix release 6.11.1 out which contains the fix.

[2019-09-03 15:50] xgenvn commented on #591
@pluma quick question related to id/key:
Should I use _id (<collection_name>/key) or _key for queries? Which one is preferable?

[2019-09-03 16:17] gurisko opened #624 "Return array of documents with cursor.next()"
We used to run into `cursor not found` error quite often despite having a basic ArangoDB deployment. The investigation showed that we had misunderstood `cursor.next()` implementation.

I believe it is confusing to use since it doesn't always make a request into `/_api/cursor` and therefore it doesn't restart `ttl` of the cursor. So the following code will fail with `cursor not found` error despite

[2019-09-06 11:36] pluma commented on #591
@xgenvn I'm not sure what you mean or what that question has to do with the issue you're replying to. Can you clarify?

[2019-09-06 12:54] xgenvn commented on #591
I'm trying to use _id or _key for linking between some documents under different collections, similar to foreign keys in SQL. Even though the join query can be anything but I want to know the best practice.
Eg:
[code]
Also, when I write the api, it's something similar to `getById`, but the actual logic checking for the `_key` (similar to orangojs, checking for both case).

[2019-09-06 13:30] Simran-B commented on #591
You need to use document IDs if you wants to reference documents that reside in different collections. If they are all in one, then the key would be sufficient, but you need to remember which collection they reside in. Using IDs makes it more self-contained, but you shouldn't rename the collections (if you have to, then make sure to update the document references).

[2019-09-06 15:39] maku commented on #620
@pluma Is there any repository (branch or something) which can already be used? Because of the typing stuff is really a pain...

[2019-09-16 12:16] pluma commented on #620
You can check out and build the `feature/next-major` branch on this repo if you want. I'm hoping to get the release out the door by the end of the month.

[2019-09-24 09:14] gurisko commented on #624
@pluma Any thoughts?

[2019-09-24 12:26] pluma commented on #624
The problem I see is that it's unintuitive for the result cursor of a query that returns X items to instead return X/Y batches of Y items each. This would require nested while-loops to consume the data iteratively. It would also diverge from the server-side JS API.

Also the problem you're describing would be timing dependent even if you did consume the data batchwise if the `consumeData` function

[2019-09-28 22:31] x3cion commented on #601
I merged master and the pull request #609 is conflict free again. I also updated my library.

I'm still using my linkedlist branch in production environments to override the broken linkedlist implementation, which should not be the way to do things. Please let me know if I can help somehow.

[2019-10-02 11:18] uditha-atukorala opened #628 ""document not found" error thrown after a 504 (in a cluster setup)"
**ArangoDB:** v3.4.8
**arangojs:** v6.10.0

This is a bit of a weird one and I'll try to explain the best I can.

On the surface it all looks fine and the error stack looks like this:
[code]

The `ArangoError` object is absolutely huge and somewhere in it I could see a `504`.
[code]

Also there's a 504 that bubbles up as an unhandled promise rejection (thrown by the `request` package).

So it seem

[2019-10-16 12:27] fuka-michal opened #630 "compact route - REST"
I would like to invoke compact via arangojs collection. Compact does not working automatically on rocksdb  engine.

[2019-10-16 12:42] #624 closed

[2019-10-16 12:44] pluma commented on #624
I've added a method `cursor.nextBatch` which behaves like `cursor.next` but for batches instead of individual values.

[2019-10-16 13:07] pluma commented on #628
You'd have to inspect the network communication but the 504 message looks like it's from a reverse proxy like nginx or Apache, not from ArangoDB itself.

Since arangojs doesn't know anything about ArangoDB error types, the ArangoError you're seeing must at least partially be from ArangoDB somehow. Can you clarify what you mean by "the object is huge" and where exactly you see the 504 message?

Try

[2019-10-18 12:36] #601 closed

[2019-10-23 12:13] pluma commented on #623
It's already possible to do this using `ensureIndex`. The `ensureXYZIndex` helper methods (e.g. `ensureSkiplist`) are redundant and will likely be removed in an upcoming major version of arangojs.

[2019-10-25 07:48] neerajyadav opened #632 "ArangoError throws when converted to JSON"
If we try to `JSON.stringify()` the `ArangoJsError` it throws cyclic error.
[code]
This is either due to  `http-request` or `http-response` objects included in the error thrown. One of them have self reference. Many of the logger frameworks uses `JSON.stringify()` method.

[2019-11-03 09:50] RienNeVaPlus commented on #325
I thought I'd share my implementation of a custom `collection.bulkUpsert` using AQL's [UPSERT](https://www.arangodb.com/docs/stable/aql/operations-upsert.html) and [MERGE](https://www.arangodb.com/docs/stable/aql/functions-document.html#merge) functions, as it might be handy to some who are having the same issue.

<kbd>TypeScript</kbd>
<sub>Source: [collection.bulkUpsert.ts Gist](https://gist.gith

[2019-11-05 13:48] nunofreitas96 opened #633 "Edge definition not being held"
**ArangoDB:** v3.5.1
**ArangoJS** v6.10.0

Apologies if this issue is due to a misunderstanding of mine, but is there a way to constraint which vertex collections can be used for `_in` and `_out` in a certain edge definition?  After creating a graph with a specific Edge Definition, I can still create through ArangoJS edges that are not compliant with the Edge Definition.

[code]
This still creates

[2019-11-05 17:33] SiamakShams commented on #358
### I know this thread is years old but I'm a new comer.

Mirokk that solution works well but partly, because you still need to use the database after the creation - so I slightly altered your solution and it works for me.

db.listDatabases().then((names) => {
    if (names.indexOf(database_name) > -1){
        db.useDatabase(database_name);
    } else {
        db.createDatabase(database_name).th

[2019-11-18 14:40] pluma commented on #633
Hey @nunofreitas96, sorry about only seeing this issue just now.

This sounds more like an issue with ArangoDB rather than the driver: https://github.com/arangodb/arangodb/issues

For more direct support also see the ArangoDB Community Slack: https://slack.arangodb.com

Thanks and apologies for the delayed response.

[2019-11-18 14:40] #633 closed

[2019-11-19 06:44] maku commented on #620
@pluma Any timeframe when this (v7) will be released?

[2019-11-25 06:45] Kuzzzz opened #634 "about customizing my own text tokens function in analyzor"
hello,
    how can i customize my own text tokens function (such as a new zh tokenizer) in analyzor?

[2019-11-27 09:12] janat08 opened #635 "Poor errors for when providing bad to/from values"
The error for bad to/from value during insert is somewhat vague, but what exacerbates it is that it doesn't show the value that was provided.

[2019-11-28 19:05] Tnifey opened #636 "executeTransaction - require as action function attribute"
Hi, I've got improvement proposal.

**Problem:**
When using webpack/node. In executeTransaction, `require` tries to import not existing `@arango` package.
![image](https://user-images.githubusercontent.com/8442019/69826432-60723f00-1213-11ea-9a64-f820b6feaedf.png)
it fails with
[code]

**Solution:**
If there was `require` function passed as argument, we can use it as internal arangodb/foxxx `requi

[2019-12-06 13:43] thelebdev opened #637 "Transaction Rollbacks"
As in MySQL for Javascript, a developer has the ability to manually `commit()` and `rollback()` a transaction.

So assume we have the following structure in a NodeJS application using MySQL.
[code]

I'm trying to figure out if the same behavior can be applied for ArangoJS
[code]
The reason why I'm doing this is because I've got several controllers that perform an insert / update / delete query on

[2019-12-08 03:17] exosiscrypto opened #638 "TTL Index create option missing"
Not able to create TTL index which is missing in this file
https://github.com/arangodb/arangojs/blob/master/src/collection.ts

[2019-12-09 05:23] #638 closed

[2019-12-09 10:16] Simran-B commented on #638
Duplicate of #623

[2019-12-15 18:31] noahehall opened #639 "ensureIndex is not a function"
according to the docs, you create indexes against a collection, best practice using the ensureIndex method.

However, in yoru tests there is no ensureIndex (https://github.com/arangodb/arangojs/blob/master/src/test/11-managing-indexes.ts)

Are we forced to use create index?

[according to docs](https://www.arangodb.com/docs/stable/indexing-working-with-indexes.html#creating-an-index
[code]

[2019-12-15 18:38] noahehall commented on #639
just a note for anyone else pulling out there dreadlocs,

the http createIndex method behaves similarly to arangosh ensureIndex

https://www.arangodb.com/docs/stable/http/indexes-working-with.html
`200: If the index exists, then a HTTP 200 is returned.`

[2019-12-17 17:49] njbotkin opened #640 "Async result management using /_api/job"
It'd be nice to have an interface for managing jobs.  My use-case involves cancelling long-running queries.  Using it might look like this:

[code]

Not sure how it should be implemented.  Seems like the usual way to use the jobs api is to poll for the result, which seems suboptimal.

[2019-12-28 18:49] LJNeon opened #641 "Improved ESM support"
In Node.js 12 ESM is behind a flag, but in Node.js 13 it's not, and based on that and how the Node.js team initially planned to [stabilize ESM by Node.js 12 LTS](https://medium.com/@nodejs/announcing-a-new-experimental-modules-1be8d2d6c2ff) it is highly likely that ESM will be stable by Node.js 14 this April. You can already [import CommonJS modules](https://nodejs.org/docs/latest-v13.x/api/esm.ht

[2019-12-30 12:26] rjravijain commented on #242
@bravecow can you please share what did you find.?
I am trying to do this operation:

aqlQuery = require('arangojs').aqlQuery;
db.query(aqlQuery`
FOR doc IN ${collection}
LET value = 100 + doc.value
INSERT {
_key: CONCAT("new", doc.value),
value
} INTO ${collection}
RETURN NEW
`).then(
cursor => cursor.map(doc => doc._key)
).then(
keys => console.log('Inserted documents:', keys.join(', ')),
err =>

[2020-01-02 10:29] pluma commented on #242
@rjravijain the import was renamed from `aqlQuery` to `aql` in arangojs 6. If you're following the tutorial make sure to follow it closely as it was written for arangojs 5 and hasn't yet been updated. You can npm install `arangojs@5` (as indicated in the tutorial) to install that version of arangojs.

[2020-01-08 13:23] pluma commented on #639
The `createIndex` method will be renamed to `ensureIndex` in the upcoming major release to address this confusion.

[2020-01-08 13:26] pluma commented on #637
Check the streaming transactions API: https://github.com/arangodb/arangojs/blob/v6.12.0/docs/Drivers/JS/Reference/Database/Transactions.md#databasebegintransaction

`transaction.abort` is the ArangoDB equivalent of SQL rollback.

[2020-01-08 13:34] pluma commented on #636
I think the cleaner solution is to write the function as normal and then turn it into a multi-line string by wrapping it in backticks.

Trying to mess with the parameter list before sending it to the server seems error-prone. We could change the actual implementation in ArangoDB to pass these globals (or at least `require`) as additional arguments if a workaround is really needed.

That said, have

[2020-01-08 13:34] pluma commented on #635
Can you give an example for the kind of error message you're referring to?

[2020-01-08 13:36] pluma commented on #634
This sounds more like an ArangoDB related question.

Give the Analyzers documentation a spin: https://www.arangodb.com/docs/stable/arangosearch-analyzers.html

Or try asking in the community Slack for help: https://slack.arangodb.com/

[2020-01-08 15:40] janat08 commented on #635
I imagine it might relate to nested writes. Something like in https://www.google.com/url?sa=t&source=web&rct=j&url=https://github.com/janat08/recommendationQuiz&ved=2ahUKEwjq9ZGcq_TmAhUMOSsKHQL1AUkQFjAAegQIBRAB&usg=AOvVaw3_3pQDP_ewpik_BCK6-XIM

[2020-01-14 10:49] pluma commented on #635
@janat08 can you link to specific lines of code? That seems to be the google search result page link for a GitHub repo.

[2020-01-15 13:06] janat08 commented on #635
I no longer remember.

[2020-01-23 15:48] mrwatson opened #644 "executeTransaction fails when used with ArangoDB 3.6"
After upgrading to ArangoDB 3.6, our existing `executeTransaction` calls fail with the error:

[code]

This error is consistent across all uses of `executeTransaction`. Sample code for one instance is below:
[code]

This project is using arangojs 6.12.0 and ArangoDB 3.6.0.

[2020-01-24 10:29] hkernbach commented on #644
Is your `collectionName` filled? Or maybe empty/undefined?
As I could run your query with:

[code]

[2020-01-24 11:13] pluma commented on #644
The error message indicates `collectionName` is empty. Can you dump the values of the variables you're passing to `executeTransaction` for me?

[2020-01-24 13:25] pluma commented on #644
@mrwatson Upon closer inspection it looks like the error you're seeing is actually from a different part of your code. The error indicates this is from the `/_api/document` API, not the `/_api/transaction` route.

Do you have any code inserting a document with arangojs maybe?

[2020-01-24 13:27] pluma commented on #644
If this is any help, I was able to reproduce the error message using the following code:

[code]

Could it be that you somehow have an empty collection name somewhere?

[2020-01-28 06:04] thelebdev opened #646 "Documentation Misunderstood / Malexplained"
I'm writing a backend service that connects to an Arango DB, on NodeJS. To query the DB, I'm creating a connection as follows:
[code]
The above line of code will return a `Database` object.
To query the database, sometimes I'm using `await arangoClient.transaction(trx.collections, trx.action, trx.params)` and sometimes I'm using `await arangoClient.query(queryString)`.

Both of these methods give

[2020-01-28 06:25] thelebdev commented on #646
Closing this issue.
Issue does not exist, using outdated version of `arangojs`.

[2020-01-28 06:25] #646 closed

[2020-02-15 10:48] couds opened #647 "Import overwrite false is ignored causing the last import to truncate the previous"
I'm trying to import 2 separate datasets to a collection but the second overwrite the entire collection.

[code]

[2020-02-15 11:05] couds commented on #647
Forget it! there was an error on my code that drop the collection before.

[2020-02-15 11:05] #647 closed

[2020-02-18 16:16] maku commented on #620
@pluma Can you please give us an update about the typescript support? Current situation is far away from good. (BTW, is this an "official" ArangoDb project?)

[2020-02-19 05:01] robross0606 commented on #547
If this was "fixed", how are ArangoError classes imported/required?

[2020-02-19 05:11] robross0606 commented on #547
What about exporting the Error message status code types?

[2020-02-23 11:49] noahehall opened #648 "clarity on index types"
arango 3.4.9
rocksdb 5.16.0

[according to the docs](https://www.arangodb.com/docs/stable/indexing-index-basics.html#persistent-index)
[and here](https://www.arangodb.com/docs/stable/indexing-index-basics.html#persistent-index)
- *The persistent index type is deprecated for the MMFiles storage engine. Use the RocksDB storage engine instead, where all indexes are persistent.*
- *index types hash, s

[2020-02-23 12:27] noahehall commented on #648
I just upgraded to 3.6.1
and i now see the equivalency

- skip, hash -> persistent

[2020-02-23 12:43] noahehall commented on #648
for any one else arriving, [here are the tests for ensureindex](https://github.com/arangodb/arangodb/blob/master/tests/js/common/shell/shell-index-ensure2-mmfiles.js)

[2020-02-23 12:52] noahehall commented on #639
thank you

[2020-02-23 12:52] #639 closed

[2020-02-23 15:31] jsteemann commented on #648
In the past, we only had the MMFiles storage engine. Here the index types hash, skiplist and persistent are fundamentally different, and the names correctly indicate the type of each index.

Later, we added the RocksDB storage engine to ArangoDB. In order to ensure maximum compatibility and make engine switching as easy as possible, we stuck with the existing index type names even for RocksDB. But

[2020-02-23 15:48] noahehall commented on #648
u are da real mvp

[2020-02-23 15:48] #648 closed

[2020-02-23 16:37] noahehall opened #649 "Joins across databases possible?"
lets say i have two imaginary databases: **Guild** and **Msg**

players join guilds. guilds have chat rooms. players join a guild's chat room and send messages to each other.

lets also say when a player joins a guilds chat room, I want to fetch:
- the guild from the Guild database
- the guilds msgs from the Msg database

currently i am doing ```fetchGuild(someguild).thenOnSuccess().fetchGuildsMsg

[2020-02-23 17:11] jsteemann commented on #649
Joins between collections of different databases are unsupported in AQL and ArangoDB.
Any operation that is carried out, e.g. running a transaction or an AQL query, is always restricted to being executed in one database.
This is also expressed in the setup of the HTTP API, as the database name is part of an operation's URL path, e.g. `/_db/_system/_api/collection/users`.
It is possible to omit the

[2020-02-23 18:42] noahehall commented on #649
@jsteemann your idea of running two database-local queries can occur in a single trip over the wire?

e.g. can I say `arrango.runAll([queriy, ...])`

[2020-02-23 20:10] noahehall commented on #649
still dont think its possible to eliminate the extra trip, as [even with statements](https://github.com/arangodb/arangodb/blob/master/js/client/modules/@arangodb/arango-statement.js#L144) the execution occurs at the db level

[2020-02-24 06:03] LJNeon opened #650 "occasional "precondition failed" error"
Every once in a while I'm getting the following error:
![image](https://user-images.githubusercontent.com/23249107/75131429-53d57980-5690-11ea-9ca4-074de7673991.png)
A quick search claims I should only receive this when I try to update a document that no longer exists, however that isn't the case here. I can simply run the update request again and it works fine, I'm 100% certain the document exist

[2020-03-06 15:08] couds opened #651 "Getting Invalid header token sometimes when doing cursor.each"
Hi. I'm having an issue with the arangojs driver (but seem that the real issue is on the server idk),
I'm importing > 200.000 documents and after that I run this
[code]

The query ran fine (took one-two minutes) but when Iterating the cursor I got an error `HPE_INVALID_HEADER_TOKEN` , and inspecting the request/response made by the driver there seem to be an invalid header on the response
[code]
I

[2020-03-11 14:20] mikestaub commented on #599
I don't think using `--async-stack-traces` resolves this issue. I am hitting the same problem on node 12.16.1 with that flag enabled.

[2020-03-15 21:23] noahehall opened #652 "Update item in document array"
hello arangotans

playing on the solution to [this issue](https://github.com/arangodb/arangojs/issues/518)

problem: update an item, in an array, on a document
error:  ArangoError: AQL: collection or array expected as operand to FOR loop; you provided a value of type 'null'

sample document:
[code]
query throwing error
[code]

obviously its an error with arango, and not my query ;)

[2020-03-15 21:36] noahehall commented on #652
was receiving an error
[code]

[2020-03-15 21:52] noahehall commented on #652
this indeed works in directly in the arango web interface query thing

[code]

but fails when I use the node arango thing

[2020-03-15 22:26] noahehall commented on #518
heres a sample error

[code]

[2020-03-15 22:26] noahehall commented on #518
im thinking the doc isnt being returned?

[2020-03-15 22:54] noahehall commented on #652
if anyone else arrives here thinking wtf the solution was definitely thinking about the returned error.

in node you have to declare the variables within the aql template

working query:
[code]

[2020-03-15 22:55] noahehall commented on #652
IS there a better way to do what im doing here?

[2020-03-16 10:14] noahehall commented on #652
@jsteemann ^^

[2020-03-16 10:31] #649 closed

[2020-03-16 13:40] noahehall commented on #652
ps, always return NEW mf

[2020-03-16 13:40] #652 closed

[2020-03-18 14:21] noahehall commented on #652
ps read this https://www.arangodb.com/docs/3.6/aql/examples-data-modification-queries.html

[2020-03-18 23:15] lostpebble opened #653 "Query results in a single roundtrip / network request"
I've been messing around with the querying today, and I've noticed that for all queries I've only been able to get a cursor returned - but to actually get results, we need to call the various APIs on that cursor. This surely entails making an unnecessary extra roundtrip?

It kinda seems to go against the documentation outlined here: https://www.arangodb.com/docs/stable/http/aql-query-cursor-query-

[2020-03-19 08:25] pluma commented on #653
The method calls only incur additional requests if necessary. Interacting with a cursor is async to ensure any necessary requests can be made transparently as needed but if the cursor has `hasMore` set to true, there's nothing more to fetch so consuming it won't result in additional requests.

[2020-03-19 09:31] lostpebble commented on #653
Thanks, I also just confirmed that this is the case by using some performance timing - just one extra question then, how do we get a hold of `hasMore` ? It seems on the cursor it is called `_hasMore` (`cursor.hasMore` is `undefined`) so I can do something like:

[code]

But this is not typed correctly, so TypeScript gives me an error.

Is this the correct usage? Or is there another way to check th

[2020-03-19 09:31] #653 closed

[2020-03-20 13:19] pluma commented on #547
@robross0606 those come from the server.

[2020-04-04 04:41] dsonet commented on #620
@pluma I suggest that you release alpha or beta versions so we can try it out easier and could help to polish it better sooner.
Thank you.

[2020-04-04 13:28] mikestaub commented on #651
I was able to workaround this issue by using the `http-parser-js` module as described here: https://stackoverflow.com/questions/36628420/nodejs-request-hpe-invalid-header-token

[2020-04-05 14:50] mikestaub opened #655 "cannot use streaming transactions in a cluster ( v3.6.1 )"
Am I doing something wrong? I am getting this error on node 10.15.0 and 12.12.0:

`HPE_INVALID_HEADER_TOKEN`

Here is a quick way to reproduce:
https://github.com/mikestaub/arangojs/commit/8f4648df88b26cd46c3f5553103284310ca16618

I tried working around by using the old nodejs http parser but it is not working:
https://stackoverflow.com/questions/36628420/nodejs-request-hpe-invalid-header-token

T

[2020-04-06 11:35] pluma commented on #655
~~The current nodejs 12 LTS release is 12.16.1, can you try with that version?~~

I've downgraded to latest nodejs 12 LTS, spun up the cluster from the docker-compose file you've provided and adjusted the tests accordingly and ~~they're still passing.~~ am now able to reproduce this for stream transactions.

I'll investigate.

[2020-04-06 11:43] pluma commented on #655
@joerg84 looks like ArangoDB is generating a bad response. This is the raw response ArangoDB sends:

[code]

Note the stray `Http/1.1: OK` "header". I'm pretty sure that's not supposed to be there. This only seems to happen in a cluster, I couldn't reproduce this in the standalone.

[2020-04-06 11:51] joerg84 commented on #655
Thanks @pluma, looking now. @mikestaub Can you let us know whether the workaround helped?

[2020-04-06 11:56] jsteemann commented on #655
@pluma: can you let us know what request you tried sending when you got that response?
Then it will be so much easier to debug and less guessing needs to be done.

[2020-04-06 11:59] pluma commented on #655
@jsteemann that particular response was from this request:

[code]

[2020-04-06 13:02] mikestaub commented on #655
@pluma That workaround did not work for me, see https://github.com/mikestaub/arangojs/commit/8e640b6f1f1beb8e75d3a9c2c3de62e62f27c17f

[2020-04-06 13:08] jsteemann commented on #655
@pluma: can you check if the problem is fixed via https://github.com/arangodb/arangodb/pull/11402?
Thanks!

[2020-04-08 16:40] pluma commented on #651
This looks like it might be the same issue as #655

@jsteemann @joerg84 Do you think arangodb/arangodb#11402 fixes this one as well?

[2020-04-08 16:43] pluma commented on #650
Code 1200 ("conflict") is described as "Will be raised when updating or deleting a document and a conflict has been detected" in the ArangoDB source code.

This sounds like an issue with ArangoDB, not the driver. I'm not sure in which scenarios this error is raised but is it possible there are any ongoing transactions?

Otherwise I would direct you to the ArangoDB Community Slack for further inves

[2020-04-08 16:44] pluma commented on #634
I'm closing this issue due to inactivity as it's not directly related to the driver.

[2020-04-08 16:44] #634 closed

[2020-04-08 16:46] pluma commented on #628
ArangoDB is at version 3.7 and this issue seems like it's related to a reverse proxy, not ArangoDB itself, and it doesn't seem to be related to arangojs itself. I'm closing this issue due to inactivity. Feel free to reopen the issue with additional information if the problem persists and you think it might be arangojs related.

[2020-04-08 16:46] #628 closed

[2020-04-08 16:47] pluma commented on #598
This will be resolved with the upcoming major release.

[2020-04-08 16:48] pluma commented on #591
This will be addressed in the upcoming major release.

[2020-04-08 16:52] pluma commented on #605
This seems to have fallen through the gaps. Does the issue still persist?

Note that invoking `useDatabase` on a database object that's used in other places of your code might lead to unexpected behavior. The upcoming major release will allow creating multiple database objects that share a common connection pool, which may help address any problems this causes.

[2020-04-08 16:53] pluma commented on #607
This will be addressed in the upcoming major release.

[2020-04-08 16:58] pluma commented on #619
I'm closing this as it seems to be an issue with ArangoDB rather than the driver and there hasn't been any activity in a while. If the issue persists, please open an issue with the ArangoDB repo.

[2020-04-08 16:58] #619 closed

[2020-04-08 17:00] pluma commented on #635
I'm closing this issue as there's not much actionable without additional information. This seems to be more about ArangoDB than the driver.

The upcoming major release of ArangoDB changes the signature of the `save` method so the `from` and `to` fields are no longer passed as positional arguments, which should reduce the chances for mistakes.

[2020-04-08 17:00] #635 closed

[2020-04-08 17:02] pluma commented on #623
This issue will be addressed by the upcoming major release.

[2020-04-08 17:03] pluma commented on #636
I'm closing this issue due to inactivity as it's more of a general question than a bug.

[2020-04-08 17:03] #636 closed

[2020-04-08 17:04] pluma commented on #637
I'm closing this issue as I understand the rocket emoji to be affirmative.

[2020-04-08 17:04] #637 closed

[2020-04-08 17:05] pluma commented on #644
I'm closing this issue due to a lack of activity. If the isue persists, please feel free to reopen with additional information.

[2020-04-08 17:05] #644 closed

[2020-04-08 17:11] mrwatson commented on #644
Okay. Sorry I forgot to post the resolution here, but we actually resolved the issue by rolling back to ArangoDB 3.5.4.

[2020-04-08 17:15] pluma commented on #610
This issue will be addressed in the upcoming major release.

[2020-04-08 17:17] pluma commented on #349
This issue will be addressed by the upcoming major release.

[2020-04-08 17:19] pluma commented on #632
This issue will be addressed in the upcoming major release.

[2020-04-08 19:19] santo74 commented on #605
Hi Alan,

The issue doesn't apply anymore, but a lot has happened since I posted this issue so I'm not sure what solved it.
The code I included in the initial post is still the same, but we upgraded ArangoDB to a newer version, switched to the RocksDB engine and even moved to a different hosting provider.
We also rewrote a specific module of our application that was continuously accessing the db (

[2020-04-08 22:49] LJNeon commented on #650
I'm not using any transactions at all, my code has nothing but updates and upserts. I'll check out the slack, thanks.

[2020-04-09 01:17] pluma commented on #605
That sounds plausible. I recall having seen this error before in the 2.x days when MMFiles was the default, so this may be related.

If it's okay with you I would close this issue if it no longer persists after your switch to RocksDB.

[2020-04-09 07:05] santo74 commented on #605
Yes, RocksDB seems much better in this regard.
Thanks for the follow-up!

[2020-04-09 07:05] #605 closed

[2020-04-09 23:32] sambbaron opened #656 "Collection KeyGeneratorTypes"
Hello, looking at `collection.create` and `keyOptions`, which uses `KeyGeneratorType`. This allows only two options: `traditional` and `autoincrement`, but ArangoDB 3.4 added `uuid` and `padded`.

[2020-04-12 11:58] Robyk62 opened #657 "types.d.ts - Missing InsertOptions 'overwrite' (used by collection.Save)"
export interface InsertOptions {
    waitForSync?: boolean;
    silent?: boolean;
    returnNew?: boolean;
    **overwrite?: boolean;**
}

[2020-04-20 15:51] #656 closed

[2020-04-20 15:55] #657 closed

[2020-04-21 03:34] OKNoah commented on #566
I have set `rejectUnauthorized` but still get `Error: self signed certificate in certificate chain`. Could be my own ORM that's not passing that along. I'm trying to connect my API to a local ArangoDB so I don't think it's so relevant to have authorization?

[2020-04-26 07:43] albert-the-creator opened #658 "VertexCollection save doesnt return all attributes"
Hi,

Following the [reference](https://github.com/arangodb/arangojs/blob/master/docs/Drivers/JS/Reference/Graph/VertexCollection.md) for saving a vertex, I notice that the attributes from the save are not returned on success.
The reference says it should exist **"assert.equal(doc.some, "data")"**

[code]

Output from console log: ```raw { _id: 'shop/204411', _key: '204411', _rev: '_aZFwLnq---' }``

[2020-04-26 21:48] spatialvlad commented on #620
Hello, thanks for working on improving TS experience for working with arangojs. Is there any time-frame or at least rough estimate when to expect 7.0?

[2020-04-28 01:48] mikestaub commented on #655
I can confirm this is resolved in arangodb 3.6.3

[2020-04-28 01:48] #655 closed

[2020-04-28 05:07] joerg84 commented on #655
Thanks!

[2020-04-29 04:00] mikestaub opened #659 "how to set the replicationFactor on a graph?"
I tried this but it is not working:

[code]

[2020-04-29 09:48] pluma commented on #659
The HTTP API indicates that the only place the `replicationFactor` is expected is in the `options` property, so the other two are redundant.

On Slack you indicated that this is the error you're seeing:

Can you clarify if this is an exception the `await graph.create` call throws or something you're seeing elsewhere?

[2020-04-29 12:34] pluma commented on #658
That is correct. This is a limitation in the current version of arangojs.

[2020-04-29 14:03] mikestaub commented on #659
Thanks for that tip, it was in fact a bug in my code. It works now!

[2020-04-29 14:03] #659 closed

[2020-04-30 19:58] pluma commented on #620
My current plan is to release a preview version at some point in May. The CHANGELOG seems to be fairly complete and what's mostly missing right now is inlining the documentation (which also means properly documenting all the types and attributes in cases where the previous written documentation has gone out of sync with the actual code).

Before releasing a preview version, I would like to merge t

[2020-05-01 14:11] pluma opened #660 "Path to arangojs 7.0.0"
This issue serves to document the process of wrapping up the arangojs 7.0.0 release.

1. The `master` branch has been frozen.
2. Any further development of v6 until v7.0.0 is released will happen in the `v6` branch.
3. The arangojs 7 PR has been merged into the `v7` branch.
4. Any preview releases prior to v7.0.0 will happen in the `v7` branch.

Once v7.0.0 is ready to be released:

1. A final min

[2020-05-01 17:06] pluma commented on #660
Preview release 7.0.0-preview.0 has been released on npm with the `next` tag:

https://github.com/arangodb/arangojs/releases/tag/v7.0.0-preview.0

[2020-05-01 17:10] pluma commented on #620
Good news everyone, I've released the current state of the `v7` branch as a preview release:

https://github.com/arangodb/arangojs/releases/tag/v7.0.0-preview.0

You can install this version using the `next` tag by running `npm install arangojs@next` or `yarn add arangojs@next`.

Please be aware that this release includes a large number of breaking changes. The preview release also still lacks a l

[2020-05-07 16:50] pluma commented on #660
The v7 branch documentation is now continuously released at http://arangodb.github.io/arangojs/

The workflow probably needs a filter to ensure it only deploys the documentation if the commit message indicates a release (i.e. message is "x.y.z" where x, y and z are numbers).

[2020-05-07 20:26] rjhilgefort commented on #325
bump +1

[2020-05-07 22:47] pluma commented on #325
FYI the `collection.save` method supports an `overwriteMode` option that determines what will happen if the document already exists (replace or update). This will be explicitly supported in arangojs 7.

[2020-05-08 22:17] rjhilgefort commented on #325
Nice, thanks for the heads up!

[2020-05-12 16:34] pluma commented on #660
The hosted documentation now contains multiple versions. `/devel` will always be updated whenever the active branch (currently `v7`) changes, `/6.x.y` are manually updated, `/7.x.y` onward are automatically published whenever a new version tag is pushed.

[2020-05-13 13:16] pluma commented on #660
v7.0.0-preview.1 has been released today.

Changes: https://github.com/arangodb/arangojs/releases/tag/v7.0.0-preview.1
Documentation: http://arangodb.github.io/arangojs/7.0.0-preview.1/index.html

[2020-05-13 13:19] pluma commented on #620
I suggest subscribing to #660 if you want to track the release of v7 more closely.

v7.0.0-preview.1 has been released today. There likely won't be any significant API changes outside the methods for which documentation has not yet been inlined: https://github.com/arangodb/arangojs/tree/v7/docs/Drivers/JS/Reference

[2020-05-16 22:20] iMoses opened #662 "allow passing down options to createDatabase"
there's no way to define a single sharding database using this library since the `/_api/database` request produced by `createDatabase` doesn't pass an `options` object as supported by the api.

https://www.arangodb.com/docs/stable/http/database-database-management.html#create-database

i'll happily make a pr, i hope that's something that can be fixed and deployed asap.

[2020-05-18 13:24] gitgkk opened #663 "Javascript query not working"
I'm using arangodb javascript driver version 6 and trying to setup document database and query system. I'm not able to get the desired result.

[code]
The returned result is empty.

[2020-05-22 03:01] iMoses commented on #660
I went over the changes and have a question.
why was everything related to `arangoSearchView` was changed to simply `view` except for `createArangoSearchView`?
seems to me like it should also be changed to `createView`.

Not sure this is the right place to comment this, but we are talking about 7.0.0 :)

[2020-05-24 12:45] pluma commented on #660
Good question. Right now ArangoDB only has one View type but in the future it may have more. The ArangoSearchView is thus a kind of View like EdgeCollection is a type of collection. As there is a `createEdgeCollection` method, there's also a `createArangoSearchView` method. There's no meaningful default type, so there's no generic `createView` method (yet).

[2020-05-24 14:21] pluma commented on #662
This is supported in the v7 branch: http://arangodb.github.io/arangojs/7.0.0-preview.1/classes/_database_.database.html#createdatabase

[2020-05-26 05:40] rcoulsell opened #664 "database.createDatabase cannot define the access level for newly created users"
When creating a new database and defining users using the database.createDatabase users: Array<Object>, it creates a new user with administative rights to the subject database.

This is causing difficulty in automatically setting up default system users for app integration/installation in Node.js.

Is there a way to pass in a parameter under the 'extra' object to set the access for the user to the

[2020-05-26 06:13] rcoulsell commented on #664
I know this can be achieved using an external curl call outside of arangojs after the fact:
curl -X PUT -u "<admin user>:<admin user password>" -H "Content-Type: application/json" -H "accept: application/json" -d '{"grant" : "ro"}' http://localhost:8529/_api/user/{userModified}/database/{databaseModified}

Seems like this is missing from arangojs natively.

[2020-05-28 05:24] jimizai opened #665 "Is it possible to increase the function of queryBuilder"
Will queryBuidler be added in future versions?
Syntax like sequelize  or mongoose apis?
I tried the aqb library. I felt nothing helps me.

[2020-06-12 15:27] iMoses commented on #662
any estimation on the release date?

[2020-06-13 09:19] uditha-atukorala opened #667 "Views can't be used as bindVars when constructing an AqlQuery"
[code]

The above throws `ArangoError: AQL: SEARCH condition used on non-view near 'RETURN d' at position 4:3 (while parsing)`.

I can make this work by using `const view = db.collection("some-view");`, but that's a hack.

[2020-06-14 20:50] ZhangJian-3ti commented on #660
Then createSearchView is a better name.

[2020-06-14 20:53] ZhangJian-3ti commented on #660
Or createView with a type config, defaults as search view.

[2020-06-16 08:07] sweeneki opened #668 "ArangoCollection interface should also include 'type'"
current:
export interface ArangoCollection {
  isArangoCollection: true;
  name: string;
}

should be:
export interface ArangoCollection {
  isArangoCollection: true;
  name: string;
  type: CollectionType
}

This allows user to determine the collection type which is quite useful when handling the two different types of collections.

[2020-06-16 18:39] pluma commented on #660
There's no clear use case for a future alternative View type yet, so I think it's okay to rename the method to `createView` for now even if it means requiring a breaking change in the distant future.

FWIW the view type is called `arangosearch` within ArangoDB, so `searchView` is not an option. It seems to be the only case in which the type uses "arango" as part of its name, so this is easy to stu

[2020-06-16 18:48] pluma commented on #668
There's no difference between `DocumentCollection` and `EdgeCollection` in arangojs 7 (both are simply different interfaces implemented by the `Collection` type) so the only way to determine which kind of collection you're dealing with if you don't know in advance is to "ask the server", i.e. use `await collection.get()`. Also the `ArangoCollection` interface is the lowest common denominator and p

[2020-06-16 19:13] pluma commented on #663
(I've edited your comment to add a code fence around your JS code.)

This doesn't seem like an issue with arangojs itself. For support with using ArangoDB please try out the ArangoDB Community Slack: https://slack.arangodb.com/

[2020-06-16 19:17] pluma commented on #664
No, this option is intended to create per-database admin accounts as an alternative to the default `root` user. This option pre-dates the modern permission system, so this may be an oversight in the API: https://www.arangodb.com/docs/stable/http/database-database-management.html#create-database

You're right that there is currently no way to manage users from arangojs. You can however access arbit

[2020-06-16 19:22] pluma commented on #665
The aqb library was an early attempt at this but it proved to be very ineffective and hard to maintain.

Modern JavaScript supports template strings, which allowed us to create a template tag to make interpolation of collection names and other variables in query strings more comfortable: http://arangodb.github.io/arangojs/7.0.0-preview.1/modules/_aql_.aql.html

If you are using Visual Studio Code,

[2020-06-16 19:22] pluma commented on #667
This will be fixed in the next preview release of v7.

[2020-06-16 20:04] robross0606 opened #669 "dropFunction throws errors"
`db.dropFunction()` throws errors when functions don't exist instead of just returning the number of dropped functions as 0.  This is also not documented in the API specification.  Throwing an error also makes little sense when `group` is set to `TRUE`.

[2020-06-16 20:05] robross0606 commented on #669
This is the way the http spec works, so I guess you're matching.  Makes no sense to me, but I will simply wrap.  Would still recommend this be documented in the API spec.

[2020-06-16 20:05] #669 closed

[2020-06-17 03:15] jimizai commented on #665
Using the template strings means that I have to write the corresponding aql separately for each query, but the replacement rate is too low, and the maintenance cost will also be high, which is very painful.

[2020-06-17 10:08] pluma commented on #665
I'm not sure what you mean. You can still build dynamic queries by creating partial `aql` queries and using them in other `aql` queries:

[code]

The only practical difference between this and a query builder I can see is that a query builder typically provides a chaining API (that ideally only lets you generate syntactically correct queries) whereas this way you need to learn AQL, which in my exp

[2020-06-17 10:23] jimizai commented on #665
This is a mysql example
[code]
The chain method call has a very strong expansion ability, but I think it is very painful to use the template string method to refactor

[2020-06-17 10:26] jimizai commented on #665
What I am doing is like encapsulating a Service abstract class that only needs a table name to inherit all the simple CURD methods on the basic classes.

[2020-06-17 17:42] robross0606 opened #670 "Dropping user functions by group prefix is not working"
I have a set of user functions:
![2020-06-17 13 40 43](https://user-images.githubusercontent.com/2965467/84931037-36de0f80-b0a0-11ea-9d9b-db3155766311.png)
From reading the documentation, running this _should_ remove those functions with the provided namespace:
[code]
However, after running this function, the UDF remain in the database.

[2020-06-17 17:44] robross0606 commented on #670
Correction, upon catching errors, I see this:
[code]
However, I am using the second option to enable "group" deletion.  What am I missing WRT how this API works?

[2020-06-17 17:55] robross0606 commented on #670
FYI, I'm currently using this workaround because the "group" option doesn't appear to work:
[code]
This produces the same expected result.

[2020-06-17 19:07] HP4k1h5 commented on #576
i created a pr for this https://github.com/arangodb/arangojs/pull/671

[2020-06-18 18:06] pluma commented on #670
That's a bug in v6 that will be fixed in v7.

[2020-06-18 18:11] pluma commented on #664
I think this may be a duplicate of https://github.com/arangodb/arangojs/issues/593

[2020-06-19 09:16] pluma commented on #576
This has already been added in v7.

[2020-06-19 09:18] pluma commented on #664
The HTTP API is documented at https://www.arangodb.com/docs/stable/http/user-management.html

[2020-06-19 09:18] pluma commented on #593
I'm closing this in favor of #664, which is more general.

[2020-06-19 09:18] #593 closed

[2020-06-19 09:27] pluma commented on #630
There doesn't seem to be an HTTP API for invoking compaction manually. Normally compaction should happen automatically but you may wish to make sure `doCompact` is set in the collection properties.

[2020-06-19 09:36] pluma commented on #640
This is the HTTP API: https://www.arangodb.com/docs/stable/http/async-results-management.html

There's no simple way to implement this as the idea is that _any_ operation can be performed asynchronously and this would currently break things, so this won't land in v7.0.0.

[2020-06-19 09:57] HP4k1h5 commented on #576
cool.

[2020-06-19 14:10] pluma commented on #641
There's currently no clear benefit to supporting ESM. The main use case would be bundle size reduction for the browser version but that would require conditional imports which currently don't make any sense given how the arangojs implementation is structured.

It's mid-2020 and the Node.js ESM story is still not looking like it will be fully settled anytime soon (at least that's what I've heard fr

[2020-06-19 14:15] LJNeon commented on #641
That's a fair point, also looking back on this the issue description is a giant mess of inaccurate predictions, it may be better to open a new issue down the road instead of postponing this one.

[2020-06-19 14:39] pluma commented on #585
@Yogu can you please check if the implementation in the v7 branch satisfies your requirements?

The `before` and `after` methods of `agentOptions` now have access to the request object. There's no direct way to correlate an invocation of the arangojs API with a particular HTTP request but this should at least make it easier to implement your own performance checks.

[2020-06-19 14:46] pluma commented on #641
Okay, I'll close this issue then. Feel free to open a new one should ESM support become viable in the future.

[2020-06-19 14:46] #641 closed

[2020-07-06 15:06] pluma commented on #660
Deprecations are not really an option given the most significant changes are to the collections API, so there will not be a final minor release for v6 to add these.

Right now the plan is as follows:

1. Inline the remaining documentation (i.e. Graph API).
2. Resolve any remaining `TODO`s in the code.
3. Cherry-pick any changes from `v6` into `v7`.
4. Resolve #673.
5. Rename `v7` to `main`.
6. Rel

[2020-07-06 20:42] pluma commented on #599
v7 now includes an option for precapturing stacktraces on every request. This will have an inevitable performance impact and only works in environments that support `Error.captureStackTrace` (i.e. V8) but will provide more meaningful stacktraces.

[2020-07-10 15:12] pluma commented on #660
We've just released `v7.0.0-rc.0`, which is the final preview release before `v7.0.0` proper.

[2020-07-13 05:51] p30arena opened #674 "what is a lock timeout?"
Hi

Some  of my requests fail with this response:
"lock timeout"
what's the meaning of this?

[2020-07-15 17:35] ryanking1809 opened #675 "database option in new Database({...}) doesn't appear to work"
The following example from the readme doesn't appear to select the desired database `pancakes` but instead `_system`
[code]

I can only get it to work by using `useDatabase` afterwards
[code]
Is there something I'm missing?

[2020-07-15 17:46] ryanking1809 commented on #675
Had a dive into the source code, it should be `databaseName`

[2020-07-15 17:46] #675 closed

[2020-07-15 21:31] ryanking1809 opened #676 "multi-line aql tags break in v7"
This breaks in v7

[code]

But this executes fine.
[code]

[2020-07-15 21:33] ryanking1809 commented on #676
Wait no, I think it's just an issue with node repl - sorry!

[2020-07-15 21:33] #676 closed

[2020-07-18 10:13] uditha-atukorala opened #677 "returnNew/returnOld options are not respected when updating vertices"
ArangoJS: `v6.14.1`
ArangoDB: `v3.6.4`

When `returnNew`/`returnOld` options passed to graph vertex collection `update()` method, `new`/`old` properties are not set in return object.

It looks like the issue is at (`new`/`old` properties are in `res.body`) https://github.com/arangodb/arangojs/blob/f310fb31597362ec7947c308530e1d60796d8d21/src/graph.ts#L155

[2020-07-18 12:34] pluma commented on #677
Yes, this is a known (but undocumented) bug in v6 that has been fixed in v7.

See the last bullet point of https://github.com/arangodb/arangojs/blob/v7.0.0-rc-1/CHANGELOG.md#graph-api-2

[2020-07-18 12:38] pluma commented on #674
That sounds like a question about ArangoDB rather than the driver. According to the [ArangoDB error code reference](https://www.arangodb.com/docs/3.6/appendix-error-codes.html):

Here's a primer to ArangoDB locking behavior: https://www.arangodb.com/docs/3.6/transactions-locking-and-isolation.html

I'm guessing you either have a lot of concurrent transactions or some transactions involve slow quer

[2020-07-18 12:38] uditha-atukorala commented on #677
Are there any plans to fix this in v6? I tried moving to v7 but it's not straight forward so will probably have to stick to v6 for a while.

[2020-07-25 17:55] robross0606 opened #678 "jsdoc?"
I've tried multiple ways to get jsdoc imported from arangojs into our project.  From what I can tell, the npm library itself is completely devoid of any inline documentation.  Is there any way to get jsdoc available on the npm library so we get more than undocumented type-ahead?

[2020-07-26 22:35] danwkennedy opened #679 "Suggestion: add/document a 'using' function for transactions"
Found myself using this approach and thought it'd be useful for others. I'm not sure where it'd fit in the arangojs API's but it's still pretty handy.

To help developers using the streaming transaction API's, we can write a pretty simple "using" function like they have in C#:

[code]

This would ensure that we don't forget to actually commit/abort the transactions. An example use case for this is

[2020-07-28 16:30] Sharakai commented on #620
I'm currently looking at how we can make the TypeScript bindings "nicer" (subjectively), and wondering what minimum version of TypeScript the arangojs typings are aiming to support?

If you allow the minimum to be 2.8+, then conditional typings might allow for a cleaner TypeScript-friendly API using generics on the `aql` helper method. For example:

[code]
And when running queries:
[code]

This wi

[2020-07-28 20:30] pluma commented on #678
@robross0606 The typedoc comments are only provided in the v7 branch. The current `latest` release of arangojs on npm is still v6. If you want to install the latest release candidate, try `npm install arangojs@next`.

[2020-07-28 20:34] pluma commented on #620
@Sharakai So if I understand you correctly, you suggest having the return type tied to the `aql` query object rather than having to define it at the callsite? That makes sense to me. I'll look into it.

[2020-07-29 20:50] tombarton opened #680 "Incorrect property name in "CreateCollectionOptions" for ArangoDB 3.7"
**Version**: `7.0.0-rc.1`

I'm not 100% sure if `arangojs` supports the upcoming release of ArangoDB 3.7, so please feel free to close this if so.

I was testing creating a collection programatically as described in the documentation:

[code]

The `create` method executes successfully, however, when inspecting the collection via the web interface or retrieving the properties of it via the REST API

[2020-08-03 09:48] pluma commented on #680
Looks like I was working off an earlier development version and the property may have been renamed.

[2020-08-03 12:51] #680 closed

[2020-08-20 18:51] pluma commented on #679
I'm intrigued but I'm not sure I like the API as described. I'm not sure if this would work better as a standalone helper function or a method on the Transaction or Database class.

[2020-08-20 19:46] pluma commented on #660
Okay, `v7.0.0-rc.2` will now be the final preview release, i.e. there will be no further changes before `v7.0.0`. Th only thing left to do prior to release is cleaning up the CHANGELOG.

[2020-08-25 12:24] ManAnRuck opened #682 "[FreatureRequest] edge attribute missing or invalid"
is it possible to add an option which allows to insert an edge without checking if the documents are existing to avoid the `edge attribute missing or invalid` error?

[2020-08-25 14:13] rensdewolf opened #683 "The cursor.forEach callback is called with "undefined" even if there are no results"
arangojs 7.0.1
arangodb 3.6.5
typescript 4.0.2

When running the following using a db instance:

```const query = aql`FOR i IN [] RETURN i`;```
```const cursor = await db.query(query, { count: true });```
```console.log(cursor.count);```
```await cursor.forEach((value: any) => { console.log(value); });```

The console output is:

`0`
`undefined`

It seems the `forEach` callback is called once alth

[2020-08-25 20:53] rensdewolf commented on #683
typescript 4.0.2

It seems the `forEach` method of the ArrayCursor looks at `this.hasMore || Boolean(this._batches.length)` to execute the callback. The use of the non-null assertion operator on the value seems somewhat misleading as value returned is `undefined`. Not sure why the `_batches.length` equals 1...

[2020-08-26 12:36] ManAnRuck commented on #682
soviel this on ensure that both documents are existing

[2020-08-26 12:36] #682 closed

[2020-09-02 07:19] szapo opened #685 "Precondition failed with errorNum 1200, code 412, message: "conflict""
Hello,
When executing a collection update with option { ignoreRevs: false }, the update will fail with errorNum 1200, code 412 and message: conflict.

The document in collection and the partial document that try to update has the same _rev. If I set { ignoreRevs: true } everything works okay.

I am running ArangoDB 3.7.2 in a docker container and because it is for development ArangoDB it is run as

[2020-09-02 13:11] szapo commented on #685
Hi, I forgot to mention that ArangoDB that I run is using ARANGO_STORAGE_ENGINE: "rocksdb".

[2020-09-06 14:32] danwkennedy commented on #679
Yeah, it could probably benefit from being an internal function. It could simplify the example above to something like this:

[code]

[2020-09-06 14:37] danwkennedy commented on #679
A potentially more elegant solution would also be to use an async generator where you `yield` db operations that you want part of the transaction and the runner function calls it inside of a `transaction.run()` call and pass the results through.

I haven't tested this but this would be potentially how it would look:

[code]

[2020-09-07 13:06] rensdewolf commented on #683
@pluma Is someone able to confirm this issue? Many thanks.

[2020-09-08 23:01] epluribusunix opened #686 "Where did the API reference go?"
The drivers page on the ArangoDB web site used to have two links under "ArangoJS":
   - Getting Started
   - Reference

Clicking on "Reference" would expand the menu, giving you access to the rest of the API spec and example code.  Now, it points to the [home page](https://arangodb.github.io/arangojs/) for the arangojs repo.  Selecting any of the v7.x options sends you to a repo where there is onl

[2020-09-11 20:34] LJNeon commented on #650
The issue ended up being that I was calling `collection.update()` with a `key` that didn't match an existing document, adding that check has made the error vanish. Whether that's intended or a bug I wouldn't know.

[2020-09-14 07:04] KrishnaPG opened #688 "How to check if edgeCollection exists, in v7.0.1"
After upgrading to latest version 7.0.1, encountering some problems with edgeCollections. For example, the below code used to work fine in v6:
[code]

The goal is to first verify if the `edgeCollection` exists or not, and create it if it does not exist. But there does not seem to be any `exists()` method available in the `GraphEdgeCollection` class

I am trying the below code, it is giving error:

[2020-09-15 06:33] #650 closed

[2020-09-18 13:08] pluma commented on #686
You were on the right track. The API reference is split up into modules, which are linked on the right hand side of the README you were looking at:

![image](https://user-images.githubusercontent.com/1280922/93601001-ce653e00-f9c0-11ea-99b8-3665c7bb70cf.png)

You should probably start here: https://arangodb.github.io/arangojs/7.0.1/modules/_index_.html

[2020-09-18 13:18] pluma commented on #686
I've added a direct link to the index module of the latest API docs to the README, which should help point people in the right direction: https://github.com/arangodb/arangojs/commit/e6157d2756cc3b3e50533db7624d0ebdd4f370b6

[2020-09-18 13:18] #686 closed

[2020-09-18 13:26] pluma commented on #688
In v7 graph collections only include methods that are actually part of the graph API to avoid confusion between which actions will be "managed" or not (e.g. if edges will be deleted along with vertices or not). So you need to talk to the underlying actual collection instead of the graph (edge) collection.

Normally you would do this by using `db.collection(edgeName)` but if you already use the gra

[2020-09-18 13:29] pluma commented on #688
FYI I'd recommend checking out the [migration guide](https://arangodb.github.io/arangojs/MIGRATING#graph-collections) for more examples on the changes between v6 and v7. The section _Graph collections_ gives the following explanation:

Feel free to reopen this issue if you think there's anything we can do to make the migration eaier.

[2020-09-18 13:29] #688 closed

[2020-09-18 13:30] pluma commented on #678
I'm closing this as v7 has been out for a while, which should solve this issue. Feel free to reopen if there's anything we can do.

[2020-09-18 13:30] #678 closed

[2020-09-18 13:31] pluma commented on #668
I'm closing this question because of inactivity. If you need further assistance, feel free to reopen it.

[2020-09-18 13:31] #668 closed

[2020-09-18 13:45] pluma commented on #665
There are no plans to implement a new query builder for ArangoDB in JS, now or in the future. You could implement your own query builder on top of aql templates but I'd rather recommend trying to rewrite your queries in plain AQL (and then seeing how you could refactor them with nested templates to make them more re-usable). Although ArangoDB can be used for many of the same use cases as most SQL

[2020-09-18 13:55] pluma commented on #683
This looks like a bug. The problem is that an empty result set is still logically a batch (though an empty one) and the logic only checks if there are any batches left. I think the correct behavior would be not to create empty batches: https://github.com/arangodb/arangojs/blob/v7.0.1/src/cursor.ts#L101-L102

[code]

However it seems we don't have a test case for an empty batch, so we should add on

[2020-09-18 14:02] pluma commented on #685
This looks like an ArangoDB question rather than a question about the arangojs driver itself. Please try asking your question in the ArangoDB Community Slack: https://slack.arangodb.com

[2020-09-18 14:03] pluma commented on #630
I'm closing this ArangoDB-related question due to inactivity. Please check the community slack if you need further assistance: https://slack.arangodb.com

[2020-09-18 14:03] pluma commented on #651
I'm closing this ArangoDB-related question due to inactivity. Please check the community slack if you need further assistance: https://slack.arangodb.com

[2020-09-18 14:03] #651 closed

[2020-09-18 14:04] pluma commented on #663
I'm closing this ArangoDB-related question due to inactivity. Please check the community slack if you need further assistance: https://slack.arangodb.com

[2020-09-18 14:04] #663 closed

[2020-09-18 14:04] pluma commented on #674
I'm closing this ArangoDB-related question due to inactivity. Please check the community slack if you need further assistance: https://slack.arangodb.com

[2020-09-18 14:04] #674 closed

[2020-09-18 14:20] KrishnaPG commented on #688
Thank you @pluma .

It is slightly confusing that the documentation (ref: https://arangodb.github.io/arangojs/7.0.1/interfaces/_collection_.documentcollection.html ) illustrates the `document collection` and `edge collection` in hierarchical relationship listing all the methods in both of them, and in the code some of these methods give error, being not available.

Your explanation is helpful.

![

[2020-09-18 15:31] pluma commented on #688
Yeah, that's ambiguous, but that's for [EdgeCollection](https://arangodb.github.io/arangojs/7.0.1/interfaces/_collection_.edgecollection.html), not [GraphEdgeCollection](https://arangodb.github.io/arangojs/7.0.1/classes/_graph_.graphedgecollection.html). It's slightly more obvious with `DocumentCollection` vs `GraphVertexCollection` but sadly the term "edges" is used both in ArangoDB in general an

[2020-09-18 15:39] pluma commented on #688
FYI the changes can currently only be seen in the development build of the documentation as release versions are permanent. The changes will show up in the documentation of 7.0.2 when it it published, though.

You can find the most recent development build at this URL, which always reflects the current `main` branch: https://arangodb.github.io/arangojs/devel/index.html

I've added a sentence to th

[2020-09-19 01:13] KrishnaPG commented on #688
Thank you @pluma The links are helpful.

I am slightly confused: this "EdgeCollection" vs "GraphEdgeCollection" - are there two kinds of edge collections? I thought only graphs can have edges. Or, is it more like `EdgeCollection == GraphEdgeCollection.collection` from your above code?

I guess from your above reply, this has something to do with the actions being "managed". That raises an interest

[2020-09-21 11:36] pluma commented on #688
The graph collection types implement the General Graph API (what the documentation calls "named graphs"): https://www.arangodb.com/docs/stable/http/gharial.html

ArangoDB has edge collections and document collections. The Graph API builds on top of those: https://www.arangodb.com/docs/stable/graphs-general-graphs.html

The arangojs documentation assumes a certain level of familiarity with ArangoDB

[2020-09-23 12:22] #683 closed

[2020-09-24 12:29] hikkyu opened #689 "Documentation typo for saveAll"
Hi! Is there a documentation typo here ? It seems that it is rather `saveAll`

https://github.com/arangodb/arangojs/blob/804e6ad352f9943490883a6a31c7ddfa22dc22f2/src/collection.ts#L1703

[2020-09-25 10:11] #689 closed

[2020-09-25 10:12] pluma commented on #689
You're right. Thanks for spotting this one.

[2020-09-28 11:11] syam0000x opened #690 "I am getting connection reset error when trying execute two queries at the same time?"
Hello All,

I am using arangojs v6.14.1 and arangodb version 3.6.4.

I have nodejs express app which intended to serve client requests.

I am experiencing an issue while executing concurrent requests. The database connection hangup when I concurrently process client requests:

What the app will do when it receives a request?
- Open a database connection -
`db = new Database(dbConfig.url);
  db.use

[2020-10-01 08:07] sudhish-ps opened #691 "Special characters are not decoding properly"
The special characters in the _id fields especially child attributes are not decoding properly for example
{
    "_id": "7b573a0a-e51e-53a0-8a7b-585b9192e068",
    "type": "dimensional",
    "fields": [
      {
        "_id": "Hole Top Small_Ø",
        "name": "Hole Top Small.Ø",
        "type": "number"

If we read this document we are getting _id of fields as "Hole Top Big_Ã".
So how to correc

[2020-10-06 02:05] ArtskydJ opened #692 "Add a favicon to the docs?"
For bookmarks, and easier tab recognizability, I'd like to have a favicon.

https://www.arangodb.com/ has this code...

[code]
...which could maybe be repurposed? (I'm not sure if arangojs is connected closely enough to legally use the same logo or code.)

Even if you can't use the same icon, I'd still be happy with another icon.

[2020-10-06 10:16] pluma commented on #692
The docs are generated via Jekyll using GitHub pages. I haven't found a way to use favicons with those. If you can find something that works, feel free to create a PR to the `gh-pages` branch.

[2020-10-06 10:20] pluma commented on #690
You shouldn't generally need to use `.close` unless you want to discard the arangojs driver instance (e.g. if you're just using arangojs once in a long-running script). Arangojs communicates over HTTP, which means it merely uses keep-alive to keep the HTTP sockets open a little longer after the response has been received in case it needs to perform another request.

Generally speaking, the expecte

[2020-10-06 10:34] pluma commented on #691
Interesting. Does this only affect fields named `_id` or does it also affect `name` in this example?

[2020-10-08 02:26] syam0000x commented on #690
@pluma  Thanks a lot for the reply :)

Its working fine now 👍

[2020-10-08 04:30] sudhish-ps commented on #691
It affect only the field named '_id'.

[2020-10-08 11:44] #690 closed

[2020-10-08 11:46] pluma commented on #691
@jsteemann This sounds familiar. I remember an early 3.x issue with fields named `_key` being handled differently. Is it possible there's a bug when documents have nested fields named `_id` and this interferes with character encoding?

/cc @joerg84

[2020-10-15 09:00] motapinto opened #693 "Tests for a view only work the second time (view is empty)"
Can anyone help me?
THe first time I do npm run build and npm run test the tests fail
But the second time I do npm run build npm run tests the tests start working

I tried to console log and the problem is that the view on the first try does not contain any products and on the second try it does.

[code]

[2020-11-09 11:51] SHwan93 opened #696 "How to insert Undirected edge?"
![image](https://user-images.githubusercontent.com/36143374/98537860-410dde00-22cd-11eb-97ca-7be277342f36.png)

How can?

[2020-11-10 18:57] codewithpatelo opened #697 "Cannot inject variables to AQL query to construct dynamic filters."
## My Environment

* __ArangoDB Version__:        3.6.3-1
* __Storage Engine__:            RocksDB
* __Deployment Mode__:       Single Server
* __Deployment Strategy__:   I run arangodb3 with systemd
* __Configuration__:              Default
* __Infrastructure__:              Own local computer
* __Operating System__:       elementary OS 5.1.4 Hera (Built on Ubuntu 18.04.4 LTS)
* __Total RAM in yo

[2020-11-11 05:04] sudhish-ps commented on #691
Hi @pluma , @jsteemann ,

Do we have any fix for this _id field encoding issue ?.

[2020-11-11 13:24] lostpebble opened #698 "overwriteMode: "replace" doesn't seem to work in DocumentCollection.save() with conflicting keys"
As per the title, this doesn't seem to work:

[code]

I was getting the error returned:

[code]

I was using the new `overwriteMode` because I see the `overwrite` option is now deprecated. But, it seems the only way to get a `save()` to just replace the data that's there even if a key already exists, is to still pass the old option. This works:

[code]

[2020-11-15 14:18] mikestaub opened #699 "3.7 streaming transactions: ArangoError: cluster internal HTTP connection broken"
This branch was working on 3.6.3, but is now failing on 3.7.3

https://github.com/mikestaub/arangojs/pull/1/files

Would it be possible to include a default Oasis cluster in the integration tests so these types of regressions could be caught earlier?

[2020-11-16 08:34] dothebart commented on #699
Hi,
If you make this a PR to arangojs, it will become part of the nightly tests that the ci runs.
Thanks for digging deeper into this.

[2020-11-16 13:04] mikestaub commented on #699
@dothebart what 3 URIs should I use for the Oasis cluster in my PR?

[2020-11-16 13:55] dothebart commented on #699
@pluma can you give a hint for this?

[2020-11-17 16:48] pluma commented on #699
@dothebart I've added support for passing multiple URLs with commas via ab866b0. Check the changes to `CONTRIBUTING.md` in particular.

Note that this will result in `acquireHostsList` being called, which in my case returns IPv6 URLs which won't be deduplicated if you use an alias like `localhost`. This also means you can just append a single comma to your `TEST_ARANGODB_URL` to opt into cluster m

[2020-11-24 15:35] fceller commented on #699
Hi @mikestaub ,

I hope you are doing well. Alan and WIlli are working on extending the automatic testing to catch these issues more easily.

What is the current status? Is it blocking you from moving to 3.7 or did you work around it?

best Frank

[2020-11-25 00:45] mikestaub commented on #699
@fceller this is blocking me from upgrading to 3.7 but it is not urgent as 3.6 is working well.

[2020-11-30 13:50] pluma commented on #696
You can treat all edges in ArangoDB as directed or undirected during traversal. By convention the vertices are named `_from` and `_to` but if you are not interested in their direction, you can just treat them interchangeably.

[2020-11-30 13:54] pluma commented on #697
Your code is incomplete, so I can't say for certain, but make sure you are using the `aql` template tag, not a bare/untagged template string.

Note that the aql template tag will generate an object with `query` and `bindVars` properties, not a simple string. If you're processing the result yourself rather than passing it to `db.query` directly, you'll need to keep that in mind.

[2020-11-30 13:55] pluma commented on #698
Which version of ArangoDB are you using? The `overwriteMode` option was added fairly recently.

[2020-11-30 13:56] pluma commented on #693
That's a lot of code. Can you reduce that to a minimal reproducible test case (let's say 10-15 lines)?

[2020-11-30 13:58] lostpebble commented on #698
Currently using `3.6.7`. Is this a > 3.7 feature?

[2020-11-30 14:13] motapinto commented on #693
This was resolved by introduced a timeout. The problem was that the view was not being created instantly and the tests were failing for that reason

[2020-11-30 14:13] #693 closed

[2020-11-30 14:16] dothebart commented on #699
hm, running the tests with 3 coordinators barely doesn't reproduce this.
@mikestaub can you sched a bit more details on the environment you're running into this?

[2020-12-01 10:56] mikestaub commented on #699
@dothebart here is the docker-compose.yml file I am using:

[code]

[2020-12-01 14:23] #696 closed

[2020-12-01 17:21] dothebart commented on #699
this seems to be missing the nginx config file?

[2020-12-02 13:26] mikestaub commented on #699
this is the nginx.conf

[code]

[2020-12-02 17:43] dothebart commented on #699
Ok,
@ajanikow was able to narrow it down to what actually is the reason.
nginx in HTTP-proxy-mode attempts to "fix" empty `PUT` requests which are used for cursors.
Since later on coordinators need to forward the request, they fail to correctly do so.

The instantly working fix is to configure nginx to use tcp-proxy instead of http-proxy by swapping the `http` section to:
[code]

We will dig deepe

[2020-12-03 11:25] pluma commented on #698
Looks like it was added in 3.7: https://www.arangodb.com/docs/stable/release-notes-new-features37.html#insert-update-and-insert-ignore

FWIW the deprecation notice in arangojs says that `overwrite` is deprecated in ArangoDB 3.7. Sadly there's no way to make this any more explicit as arangojs versions are not tied 1-to-1 to ArangoDB (i.e. arangojs will work with most of the recent releases of Arang

[2020-12-03 11:25] #698 closed

[2020-12-03 11:38] pluma commented on #697
Wait a second. This doesn't look like valid AQL syntax to me:

[code]

Specifically, a FILTER will affect the `FOR ... IN`, not the `LET x = MERGE(y)` part of that query. It looks like you're expecting the FILTER expression to be applied to the LET or MERGE, which is not supported.

That said, your code looks fine otherwise. Note that AQL distinguishes between strings and numbers so if `req_nbr` i

[2020-12-03 11:40] pluma commented on #685
I'm closing this due to inactivity. Since this is not an arangojs-specific question, feel free to ask your question in the ArangoDB Community Slack or open an issue with the main arangodb repository if you think this might be a bug in ArangoDB.

[2020-12-03 11:40] #685 closed

[2020-12-03 13:55] pluma commented on #691
@sudhish-ps can you provide additional information like which version of ArangoDB you're using? @jsteemann and I were unable to reproduce this problem with 3.6, 3.7 and the current devel branch of ArangoDB, neither via ArangoDB directly nor via arangojs. There's no reason the field named `_id` should be encoded any differently either.

[2020-12-04 10:30] sudhish-ps commented on #691
Hi @pluma , @jsteemann , @joerg84,

Earlier I used 3.6.5v of ArangoDB where I used to see this encoding issue.
However, after installing 3.7.3v of ArangoDB I was not able to reproduce or see this encoding issue, looks like it is resolved.
Thanks for the time.

[2020-12-04 10:44] #691 closed

[2020-12-09 13:07] oliverlockwood opened #702 "Transactions don't play nicely with round-robin load balancing strategy"
Currently running with `arangojs` version `6.14.0`, a 3-node cluster, and `loadBalancingStrategy: 'ROUND_ROBIN'` .
(Aside: yes, we are in the process of looking to upgrade to `arangojs` version `7.x`.)

We have a part of our software which makes use of ArangoDB transactions, like:
[code]

This works some of the time, but sometimes also throws errors like this:
[code]

It seems to me that what is l

[2020-12-09 15:47] oliverlockwood commented on #702
I see the _very_ latest version ([7.2.0](https://github.com/arangodb/arangojs/releases/tag/v7.2.0)) has this:

Perhaps transactions in a clustered scenario with `ROUND_ROBIN` would have to take this kind of approach?  Or is there a better way?

[2020-12-11 17:41] robross0606 opened #703 "Migration guide from v6 to v7 leaves out important changes to update revision handling"
The migration guide doesn't mention that the `rev` option appears to no longer be available on `collection.update()`.  I have `ignoreRevs` set to `false` in the `options` section of `collection.update()`.  This worked previously by also passing in the `rev` option at the same spot we passed in `ignoreRevs`.  This appears to be ignored now.  Our unit tests are failing because revision of "BOGUS" is

[2020-12-11 17:45] robross0606 commented on #703
I'm not really sure what's what now.  I have `ignoreRevs` set to `false in the `options` section of `collection.update()`.  This worked previously by also passing in the `rev` option at the same spot we passed in `ignoreRevs`.  This appears to be ignored now.  Our unit tests are failing because revision of "BOGUS" is being completely ignored by the `update()` call.  Do you have migration guide sug

[2020-12-11 18:06] robross0606 opened #704 "outEdges() and inEdges() no longer works on 7.x"
It appears that `outEdges()` and `inEdges()` are incorrectly validating the collection against the passed in IDs on 7.x driver.

This Jest unit test fails:
[code]
The error message is:
[code]

How are these functions, which are available only on `EdgeCollection` types, supposed to work now?  The entire semantics of the functions rely on the document IDs _not_ matching the edge collection name.

I

[2020-12-14 19:58] oliverlockwood opened #706 "GeneratedAqlQuery from aql-backticks returns "bind parameter 'value1' was not declared in the query""
On latest arangojs (7.2.0)

The code:
[code]

returns the following logs:
[code]

and throws the following error:
[code]

Interestingly, another query variant which has three bind parameters resolves the first two but fails in the same way regarding  the third (i.e. `value2`).

This bug is such that I'm having to work around by using `aql.literal()` all over the shop, which is a pity (and obviousl

[2020-12-15 15:53] robross0606 commented on #706
Have you tried not surrounding your `@value1` with quotes?

[code]

My understanding was bind values would automatically generate those based on datatype of the bound value.

[2020-12-15 17:25] robross0606 opened #707 "Attempting to update a document while using _rev property causes conflict"
This unit test fails:
[code]

The error is:
[code]

If `ignoreRevs` is set to `true` or the `_rev` property is not provided on the document content, the test passes.

[2020-12-15 19:35] robross0606 commented on #707
I have also tried with a single document update which also fails with the same error:
[code]
Failure:
[code]

[2020-12-15 21:04] robross0606 commented on #707
With the old driver where `revision` was passed in as an `option`, this resulted in an HTTP API header value:

```if-match: _bkexiY----```

However, with the new API, there is no `if-match` header value.  The value is passed in as a `_rev` in the body and this fails for some reason even though the HTTP API docs read for all the world like this should succeed:

[2020-12-15 21:40] robross0606 commented on #707
I think the documentation on HTTP API is incorrect, or at least misleading.  I tried this directly from the REST "Try It" feature on the Support page of the web UI and it fails in a similar manner.  If using the `If-Match` header it works fine.  If using a `_rev` stored in the body of the input, it fails:
![image](https://user-images.githubusercontent.com/2965467/102276060-4c6baf00-3ef4-11eb-9042-

[2020-12-17 15:15] robross0606 opened #708 "Support ignoreRevs on `Collection.delete()` calls"
The HTTP API for ArangoDB supports revision checking on document removal via the `If-Match` header:

https://www.arangodb.com/docs/stable/http/document-working-with-documents.html#removes-a-document

However, the ArangoJS API doesn't expose this option.  It should be exposed similar to how `Collection.update()` calls used to work prior to 7.x.  Or, at least, how they're _supposed_ to work (#707).

[2020-12-19 19:10] mikestaub commented on #699
@dothebart any updates on the root cause? I am seeing these errors in Oasis on v3.7.5 as I assume envoy uses TCP not HTTP.

[2020-12-21 11:35] dothebart commented on #699
Hi,
sorry, have been busy with release QA.
hm, @ajanikow ensured me that oasis shouldn't have these issues?

[2020-12-21 11:51] ajanikow commented on #699
Hello!

Problem with `cluster internal HTTP connection broken` in Oasis can be related to different thing. Only TCP forwarding is used on all levels, so issue caused by invalid body should not occur.

Can you create Oasis issue? Then we will be able to look on your Deployment (we will check internal reason).

Best Regards,
Adam.

[2020-12-21 12:01] mikestaub commented on #699
Here is the Oasis issue: https://arangodb.atlassian.net/servicedesk/customer/portal/13/OASIS-418

[2020-12-21 23:32] mikestaub commented on #699
@ajanikow I think the long-term solution is to provide a way to run the Oasis cluster locally so I can run my integration tests against it an be confident it will work once deployed. Either with a docker-compose file or k8 helm charts.

[2020-12-22 22:37] orgrimarr opened #709 "[Cluster] ECONNRESET error support"
## Environment
- ArangoJS: 7.2.0
- ArangoDB 3.7.5 Cluster
  - Tested on docker
  - Tested on windows

## Description
The arangojs lib in ROUND_ROBIN mode can failover to another arango in case of ECONNREFUSED error.

When an arango server shutting down or du to network issue, an ECONNRESET error may occure.

This error is not handled by arangojs and throw an error instead of retrying

## Steps to

[2020-12-22 22:38] orgrimarr opened #710 "[Cluster] Error 503 handling with ROUND_ROBIN"
## Environment
- ArangoJS: 7.2.0
- ArangoDB 3.7.5 Cluster
  - Tested on docker
  - Tested on windows

## Description
When en arango is in maintenance mode or is starting, it return an error 503.

This error is handled by arangojs, but with ROUND_ROBIN, it should try an other node even if arango does not respond whith LEADER_ENDPOINT_HEADER

This throw an error instead of retrying

## Steps to repr

[2020-12-22 22:39] orgrimarr opened #711 "[Cluster] Clean dead server"
## Environment
- ArangoJS: 7.2.0
- ArangoDB 3.7.5 Cluster
  - Tested on docker
  - Tested on windows

## Description
Arangojs connected to a cluster in ROUND_ROBIN mode does not clean dead servers from the host list.

Arangojs provide a method : acquireHostList but this function append new coordinator to the host list using addToHostList function.

I suggest to change the acquireHostList function

[2020-12-23 15:17] dothebart commented on #699
Ok, the current situation is, that ArangoDB will forward all [most] HTTP-headers that it gets from one coordinator to the one that owns the cursor.
In your setup case this is too - `connection: close`. This starts an unwanted chain of reactions, which in current devel somewhere later down the road doesn't lead to the actual error we see.

However, not forwarding the `connection` header in first pl

[2020-12-23 17:55] mikestaub commented on #699
@dothebart great, thanks for tracking down this down. In the meantime can I manually remove that header from the requests being sent by arangojs? Do you have an ETA when 3.7.6 will be available on Oasis?

[2020-12-24 11:26] dothebart commented on #699
at least in your testcase this header is added by the NGINX Proxy - as @ajanikow pointed out, using it in TCP-Mode also circumvents the situation from appearing.
The problem is the `PUT` request without a post-body which makes the nginx go down to HTTP/1.0 - which implies `connection: close`.
As @ajanikow also told - oasis should also have no nginx in http mode - so if there are more problems, the

[2020-12-25 10:03] mstimvol opened #712 "Sometimes ETIMEDOUT when connecting to ArangoDB"
I'm running a single ArangoDB (no cluster atm) in a Kubernetes cluster and everything works fine, but sometimes I'm having trouble connecting to my ArangoDB. I've a very simple application that looks like:

[code]

When I start the application, I'm often getting the following error message:

[code]

When I use try/catch around "await col.exists()" I'm getting the following error:

[code]

When I s

[2020-12-29 01:57] berry4u opened #713 "error response "CollectionType is not defined" creating an edge collection"
v. 7.2.0
Receiving this error when trying to create an edge collection with:
await collection.create({ type: CollectionType.EDGE_COLLECTION });

Sorry: it only needs a reference to arangojs

[2020-12-29 02:11] #713 closed

[2020-12-30 21:46] mikestaub commented on #699
I think it might also be a timing issue in the arangojs task queue. After adding this to my Database config, the issue disappeared:

[code]

[2021-01-02 21:59] mstimvol commented on #712
I finally figured out that it was a problem on my side that interrupted the connection because of a while-loop.

[2021-01-02 21:59] #712 closed

[2021-01-04 03:29] enjoysmath opened #714 "`aql` string prefix doesn't work"
[code]

Outputs the error:
[code]

[2021-01-04 03:36] enjoysmath commented on #714
`
const aql = arangojs.aql;`

[2021-01-04 03:36] #714 closed

[2021-01-04 03:54] enjoysmath opened #715 "Pokemon example doesn't work (pokemons not initialized)"
[code]

Outputs error:
`
Cannot access 'pokemons' before initialization`

[2021-01-04 04:07] enjoysmath opened #716 "Can someone provide me with a very basic example of working with Graphs?"
I can't find example code anywhere on the net and I'm new to JS, so parsing the source code and reverse engineering is too difficult for now.

For example, is the following the proper way?

[code]

[2021-01-05 06:13] enjoysmath opened #717 "aql query string has a syntax error, but I copy / pasted it from docs"
This code:

[code]

Is giving me:

[code]

which doesn't make any sense.

[2021-01-05 06:20] enjoysmath commented on #717
[code]

This works; it didn't like the hyphen.

[2021-01-05 06:20] #717 closed

[2021-01-05 06:27] enjoysmath opened #718 "createGraph() doesn't write to the database but createCollection does!"
Is there any reason why my code is not writing to the database?  I am calling each successfully without errors and collections are writing to the database and I'm able to do a for-loop insert query to add documents to the collection.

However, createGraph is not writing to the database any graph.

[2021-01-12 10:16] dothebart commented on #699
Hi, Happy new Year ;)
Its still unclear to me how and why you should be hit by this. Can we have some more details on the total environment?
How and from where do you connect the oasis cluster? Is this your local workstation and mabye  there a transparent proxy in the way (company network or telco provider?) ? Whats the tcp-traceroute? Does the instance live near to you?

If its all that, is issue

[2021-01-12 10:44] mikestaub commented on #699
Happy new year!

The error was still appearing in my local env ( not Oasis ), even with TCP routing enabled. You should be able to reproduce it with that docker-compose file. I assume that docker-compose file is a good approximation of an Oasis setup. I saw the same errors when running on lambda connecting to Oasis.

I actually think it may be a bug in arangojs as it might be firing the HTTP reque

[2021-01-13 14:12] pluma commented on #715
Oops, thanks for catching this. There are two variables with the same name. I'll fix the documentation.

[2021-01-13 14:27] pluma commented on #703
arangojs v6 supported the `if-match` header, v7 does not. The header is redundant as the same behavior can be achieved by setting the `_rev` property on the document itself.

Can you try setting `_rev` on the payload instead of `rev` on the options and report back whether that works? I would then adjust the migration guide accordingly.

[2021-01-13 14:30] pluma commented on #704
Oops, you're right. `documentHandle` should take a flag to decide whether it should allow foreign collections to support this use case. This also affects `edges`.

[2021-01-13 14:34] pluma commented on #707
Looks like the HTTP API docs are incorrect or misleading. It's probably easiest to restore the `if-match` behavior of v6, though I think the new option should be called `ifMatch` rather than `rev`.

[2021-01-13 14:35] pluma commented on #708
I'm closing this as a duplicate of #707 as that issue provides more additional information and the solution seems to be to re-implement the `if-match` header from v6.

[2021-01-13 14:35] #708 closed

[2021-01-13 14:36] pluma commented on #703
I'm closing this as a duplicate of #707 as that issue provides more additional information and the solution seems to be to re-implement the `if-match` header from v6.

[2021-01-13 14:36] #703 closed

[2021-01-13 14:38] pluma commented on #718
I'm not sure what you mean by "not writing to the database". How do you determine whether it succeeded?

[2021-01-13 14:43] pluma commented on #702
@dothebart Any idea what might be causing this? I thought coordinators forward requests to the correct coordinator when dealing with a streaming transaction. I could make the host sticky for transactions but this wouldn't solve the problem when working with third-party load balancers.

[2021-01-13 14:47] pluma commented on #706
Hi @oliverlockwood,

@robross0606 is correct. When using the aql template tag, you don't need to provide the quotes yourself.

When using the template tag, arangojs will transmit both the query string (containing the generated bindVars names) and the bindVars mapping (containing the values). It doesn't actually inline the values.

[2021-01-13 14:50] pluma commented on #711
This would be a breaking change, but I think a compromise would be to add an alternative method (say, `updateHostList`) that replaces rather than updates the known hosts.

One issue with this is that right now the hosts list is an array and thus hosts are identified by their index, which will cause problems if e.g. a cursor is created from a host which is then removed from the list. This probably

[2021-01-13 14:55] pluma commented on #709
This is intentional. `ECONNRESET` can occur after a requests has started processing. Retrying the request could result in data loss or corruption. `ECONNREFUSED` can only occur before the request has been started processing, so it can be retried safely.

[2021-01-13 14:55] #709 closed

[2021-01-13 15:00] robross0606 commented on #707
My issue with calling it `ifMatch` is you're intentionally breaking backward compatibility with previous versions of your library.  Putting back `rev` would make it backward compatible.

[2021-01-13 15:50] dothebart commented on #702
Yes, performance wise talking to the same coordinator in subsequent requests is the best choice.
However, coordinators should forward the requests to the respective hosts that "own" the transaction.
I'm completely missing any information about the installation itself? Version? OS? etc, see the main arangodb issue template.

[2021-01-13 16:09] oliverlockwood commented on #702
@dothebart The cluster is running version 3.7.2 of ArangoDB, downloaded from https://download.arangodb.com/arangodb37/DEBIAN/amd64/arangodb3_2.7.2-1_amd64.deb

We wrap this in our own Docker image, which then runs under Ubuntu 18.04, with separate containers for server, co-ordinator and agents.  We run an instance of each of these on a given node, and have 3 nodes in total.

[2021-01-14 12:22] dothebart commented on #702
the coordinators need to be able to talk to each others in conjunction to forward requests. try that from within the containers.

[2021-01-15 15:28] oliverlockwood commented on #702
@dothebart can you clarify, please - are you asking me to check connectivity between the different co-ordinator containers?

[2021-01-15 17:26] choppedpork commented on #702
Replying on @oliverlockwood's behalf here:

@dothebart the coordinators can indeed talk to each other - I've verified that all three can reach all three from within the container. I've used IP addresses and ports as listed in the list of coordinators in the UI for this.